<img class="banner_img banner">
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col">
      <h2><u>Blog</u></h2>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <br/>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col">
        <img width="100%;" src="../../../../assets/images/productinside/lucernacollection/Obtuse/Obtusecentre.jpg">
        <h4>Extract 1</h4>
        <h6>SOFTWOOD</h6>
      <p> Trees are generally classified into either Hardwoods or Softwoods. Inexplicably, not all softwoods are
          soft and not all hardwoods are hard. For example, balsa, a hardwood, produces one of the softest
          woods in the world. Conversely, Douglas fir, a softwood, is harder and has better strength properties
          than many hardwoods. In simple terms, softwoods are needle-bearing trees and hardwoods are leaf-
          bearing. <Strong [routerLink]="['/extract1']" style="cursor:pointer;">Read More</Strong>
      </p>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="row" style="padding-bottom: 2%;">
    <div class="col-sm-1"></div>
    <div class="col">
        <img width="100%;" src="../../../../assets/images/productinside/lucernacollection/pick/pickinside.jpg">
        <h4>Extract 2</h4>
        <h6>HOW A TREE GROWS</h6>
        <p> • Seeds are dispersed from a mature tree in a number of ways: Some seeds have
            broad-bladed wings to catch the wind, others have hooks to grab insects or are
            scented to attract birds. Most seeds never make it to a fertile spot where the
            conditions are right for sprouting.
            <Strong style="cursor:pointer;">Read More</Strong>
        </p>
      </div>
      <div class="col-sm-1"></div>
    </div>
</div>
