<div class="container-fluid" style="padding: 0; position: relative;">  
    <img style="width: 100%;" src="../../../assets/images/productinside/wingcollection/Wing1/wing1centre.png">
    <div class="banner_heading">
        <h4>Wing 1<br><p style="margin-bottom: 0;">Material: Beech wood</p>
          <p>Tables and Stands; Study area;</p></h4>
    </div>
  </div>
<div class="container-fluid">
    <div class="row top_img">
      <div class="col-sm-2 col-xs-12"></div>
      <div class="col-sm-4 col-xs-12">
        <img style="width: 100%" class="zoomed_image" src="{{mainimage}}">
      </div>
      <div class="col-sm-6 col-xs-12 pie">
        <h2 class="product_heading">Wing 1<br><p style="margin-bottom: 0;">Material: Beech wood</p>
          <p>Tables and Stands; Study area;</p></h2>
      </div>
    </div>
  
  
  <div class="container">
      <div class="row">
          <div class="col">
            <img src="{{image1}}" style="width: 50%" (click)="changeMainImage(image1_large)" title="click here">
          </div>
          <div class="col">
            <img src="{{image2}}" style="width: 50%" (click)="changeMainImage(image2_large)" title="click here">
          </div>
        </div>
  </div>
    <div class="row story">
      <div class="col-sm-1"></div>
      <div class="col">
          <h2>Story</h2>
          <p>This formal study table unit is inspired by the clean, aerodynamic lines of modern
             aviation, and works to create the illusion of weightlessness and partial suspension
             in mid air. The sharp angles and emphasized chamfers lend a dynamic and adventurous
             feeling to the previously solid and static interpretations of the table.</p>
      </div>
      <div class="col col_story" style="padding-right: 0;">
        <img class="img_class" src="../../../assets/images/productinside/wingcollection/Wing1/wing1inside1.png">
      </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row deisgn">
      <div class="col col_story" style="padding-left: 0;">
        <img class="img_class" src="../../../assets/images/productinside/wingcollection/Wing1/wing1inside2.png">
      </div>
      <div class="col">
        <h2>Design</h2>
        <p>Conceptually and technically, creating the Wing 1 table pushed our creativity and
           ingenuity to the maximum. Our craftsmen laboured to perfect each of the complicated
           angles and sharp lines to lend stability to the structure, while maintaining the
           illusion of levitation in mid-air.</p>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <div class="row similar_products" style="padding-top: 3%;">
        <div class="col-sm-1"></div>
        <div class="col-sm-10"><h2>Similar Products</h2></div>
        <div class="col-sm-1"></div>
      </div>
    <div class="row" style="text-align: center;">
      <div class="col-sm-1"></div>
      <div class="col">
          <img style="height: 141.77px;" [routerLink]="['/productwing2']" title="Click here" src="../../../assets/images/productinside/wingcollection/Wing2/Wing-2.png">
                <h4 style="margin-right: 0;" [routerLink]="['/productwing2']">Wing 2<br><span>learn more <a [routerLink]="['/productwing2']"><i class="material-icons">
                  arrow_right_alt
                  </i></a></span></h4>
        </div>
      <div class="col">
        <img style="height: 141.77px;" [routerLink]="['/productwingchair']" title="Click here" src="../../../assets/images/productinside/wingcollection/wingchair/Wing-Chair.png">
        <h4 style="margin-right: 0;" [routerLink]="['/productwingchair']">Wing Chair<br><span>learn more <a [routerLink]="['/productwingchair']"><i class="material-icons">
            arrow_right_alt
            </i></a></span></h4>
      </div>
      <div class="col">
          <img style="height: 141.77px;" [routerLink]="['/productwingrack']" title="Click here" src="../../../assets/images/productinside/wingcollection/RickRack/Rick-Rack.png">
          <h4 style="margin-right: 0;" [routerLink]="['/productwingrack']">Rick-Rack<br><span>learn more <a [routerLink]="['/productwingrack']"><i class="material-icons">
              arrow_right_alt
              </i></a></span></h4>
        </div>
      <div class="col-sm-1"></div>
    </div>
  
  </div>