<div class="container-fluid" style="padding: 0; position: relative;">  
    <img style="width: 100%;" src="../../../assets/images/productinside/stumpcollection/robbiesofa/robbie-sofa-inside-black.png">
    <div class="banner_heading">
        <h4>Robbie Sofa<br><p style="margin-bottom: 0;">Material: Oak body, grey upholstery stainless steel legs and support</p>
          <p>upholstered sofa with a solid wood backrest and structure</p></h4>
    </div>
  </div>
<div class="container-fluid" id="product_container">
    <div class="row top_img">
      <div class="col-sm-2 col-xs-12"></div>
      <div class="col-sm-4 col-xs-12">
        <img style="width: 90%" class="zoomed_image" src="{{mainimage}}">
      </div>
      <div class="col-sm-6 col-xs-12 pie">
        <h2 class="product_heading">Robbie Sofa<br><p style="margin-bottom: 0;">Material: Oak body, grey upholstery stainless steel legs and support</p>
           <p>Casual Seating Area; Chairs and Benches;</p></h2>
      </div>
    </div>
  
  <div class="container">
      <div class="row" style="padding-bottom: 5%;">
          <div class="col">
            <img style="width: 60%" src="{{image1}}" (click)="changeMainImage(image1_large)" title="click here">
          </div>
          <div class="col">
            <img style="width: 60%" src="{{image2}}" (click)="changeMainImage(image2_large)" title="click here">
          </div>
          <div class="col">
              <img style="width: 60%" src="{{image3}}" (click)="changeMainImage(image3_large)" title="click here">
          </div>
        </div>
  </div>
    <div class="row story">
        <div class="col-sm-1"></div>
      <div class="col">
          <h2>Story</h2>
          <p>The Robbie Sofa is a formal sectional sofa unit, with a solid wood structure and
             an ergonomically shaped solid wood backrest designed to provide superb back
             support for all body types. The grey upholstery offsets the warm tones of the wood
             itself, making the Robbie Sofa the epitome of grace and sophistication.
          </p>
      </div>
      <div class="col col_story" style="padding-right: 0;">
        <img class="img_class" src="../../../assets/images/productinside/stumpcollection/robbiesofa/robbie-sofa 1.png">
      </div>
    </div>
    <div class="row deisgn">
      <div class="col col_story">
        <img class="img_class" src="../../../assets/images/productinside/stumpcollection/robbiesofa/robbie-sofa 2.png">
      </div>
      <div class="col">
        <h2>Design</h2>
        <p>The making of the Robbie Sofa involved the use of interesting joints to form the
           body and the structure of the sofa, as well as the uniquely angled stainless steel
           legs. The team also took great care in developing the backrest support system which
           is not only aesthetically pleasing in terms of form, but also functional and ergonomic.
        </p>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <div class="row similarproducts">
        <div class="col-sm-1"></div>
        <div class="col">
            <h2>Similar Products</h2><br>
        </div>
        <div class="col-sm-1"></div>
      </div>
    <div class="row" style="text-align: center; padding-bottom: 5%;">
        <div class="col-sm-1"></div>
        <div class="col-md-5 col-sm-12">
            <img style="height: 141.77px;" src="../../../assets/images/productinside/stumpcollection/airshelf/air-shelf.png" title="Air-shelf" [routerLink]="['/productstumpshelf']">
            <h4 style="margin-right: 0;" [routerLink]="['/productstumpshelf']">Air-shelf<br><span>learn more <a [routerLink]="['/productstumpshelf']"><i class="material-icons">
              arrow_right_alt
              </i></a></span></h4>
        </div>
        <div class="col-md-5 col-sm-12">
            <img style="height: 141.77px;" src="../../../assets/images/products/stump.png" title="Stump" [routerLink]="['/productstump']">
            <h4 style="margin-right: 0;" [routerLink]="['/productstump']">Stump<br><span>learn more <a [routerLink]="['/productstump']"><i class="material-icons">
              arrow_right_alt
              </i></a></span></h4>
        </div>
        <div class="col-sm-1"></div>
      </div>
  
  </div>