<img class="banner_img banner">
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col"><h2><u>We're hiring</u></h2></div>
    <div class="col-sm-1"></div>
  </div>
  <br/>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col">
        <h4>Designer/Architect</h4>
      <p> The Job : conceptualising, designing and executing architectural projects, interior
          products, exclusive furniture. We’re looking for Freshers or candidates with a year 
          or two of work experience.<br/> 
          Background in allied design fields like Interior design, Product design, Architectural
          Design, Industrial Design, Graphic design.<br/>
          The ability to sketch, Softwares like AutoCAD, Google Sketchup or other BIM and rendering softwares
          are a minimum.<br/>
          (An added bonus if you can make green tea.)<br/>
          <strong>design@woodnmetal.in</strong>
      </p>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col">
      <h4>Marketing Executive / CRM </h4>
      <p> The Job :  point of contact between organisation and clients, answering queries,
          demonstrating & presenting products, negotiating contracts and packages. We’re
          looking for Freshers or candidates with a year or two of work experience.<br/>
          Background : Any degree subject is acceptable, although relevant qualifications
          and experience gained in any commercial area is preferred.<br/>
          Skills : Communication skills,Organisation, time management and the ability to
          multitask, numeric proficiency, English language proficiency.
          <strong>design@woodnmetal.in</strong>
      </p>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col">
            <h4>Site Coordinator</h4>
          <p> 
              The Job : Site responsibilities, Management of Resources & Employees, Communication
              with Designers, We’re looking for candidates with a year or two of work experience at
              least.<br/>
              Background : Any degree Civil engineering, structural engineering or relavent
              qualifications and experience gained (1-2 years or more) in the Building &
              Construction field.<br/>
              Skills :  Knowledge of Market Standards,materials, techniques People person, excellent Communication skills. Also, more the languages you know, better.
              <strong>design@woodnmetal.in</strong>
          </p>
        </div>
        <div class="col-sm-1"></div>
      </div>
</div>
