.container-fluid {
    margin-top: 4%;
}

.footer {
    border-top: 2px solid #8f7d4f;
    text-align: center;
    height: 100px;
}

h3 {
    color: #8f7d4f;
    font-size: 19px;
}

.row_foot {
    position: absolute;
    top: 50%;
}

.col_footer {
    justify-content: center;
    display: flex;
}

input {
    border-radius: 25px;
    background-color: transparent;
    border: 1px solid #8f7d4f;
    height: 35px;
    margin-left: 3%;
    width: 40%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #8f7d4f;
    opacity: 1; /* Firefox */
	padding-left: 20px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #8f7d4f;
	padding-left: 20px;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #8f7d4f;
	padding-left: 20px;
}

input[type=submit] {
	background : url("../../../assets/images/submit.png") no-repeat center center;
	width : 115px;
	height :52px;
    border : none;
    outline: none;
	color : transparent;
    font-size : 0;
    position: absolute;
    right: 19%;
    top: -12%;
}

@media (max-width: 670px) {
    input[type=submit] {
        margin-top: -1%;
        right: 7%;
    }
}
