<div class="container-fluid">
  <div class="row footer">
    <div class="col-sm-4 col_footer">
      <img src="../../../assets/images/logo.png">
    </div>
    <div class="col-sm-4 col_footer">
      <div class="row">
        <div class="col">
            <h3>Download Catalogue</h3>
        </div>
        <div class="col">
            <input type="text" placeholder="email" >
            <input type="submit" value="submit" >
        </div>
      </div>
    </div>
    <div class="col-sm-4 col_footer">
      <h3>Careers</h3>
    </div>
  </div>
  <div style="position: relative; float: right;"><h3>Digital Agency TIP</h3></div>
</div>  