<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="container-fluid" style="border-top: 0.5px solid #8f7d4f;">
  <div class="row" style="border-bottom: 0.5px solid #8f7d4f; padding-bottom: 2%;">
    <div class="col-md-2 col-sm-12 logo" style= "margin-top: 1%;">
<!--  <a style="text-decoration: none;" [routerLink]="['/home']"><h2 style="color: #8f7d4f; font-family: 'Roboto', sans-serif;">THE MALLET</h2></a>-->
    </div>
    <div class="col-md-3 col-sm-12 download" style="margin-top: 3%; padding-right: 0;"><h3>Download Catalogue</h3></div>
    <div class="col-md-5 col-sm-12 inputclass" style="width:80%; padding-left: 0; margin-top: 4%;">
      <input type="text" title="Coming Soon" placeholder="email" readonly style="color:#8f7d4f; padding-left: 0; outline:none;">
      <button><i class="fa fa-arrow-right"></i></button>
    </div>
    <div class="col-md-2 col-sm-12 careers">
      <h3>Careers</h3>
  </div>
</div>
 <div class="da"><h3 class="tip" style="font-size: 11px;">Digital Agency <a href="https://tip.agency/" target="_blank">TIP</a></h3></div>
</div>