@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}    
/* Form wrapper styling */
.form-wrapper {
    width: 450px;
    padding: 15px;
    margin: 150px auto 50px auto;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}

/* Form text input */

.form-wrapper input {
    width: 330px;
    height: 20px;
    padding: 10px 5px;
    float: left;   
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;     
}

.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}   

/* Form submit button */
.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    border-radius: 0 3px 3px 0;     
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}  

.form-wrapper button:hover{    
    background: #e54040;
}  

.form-wrapper button:active,
.form-wrapper button:focus{  
    background: #c42f2f;
    outline: 0;  
}

.form-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}

.form-wrapper button:hover:before{
    border-right-color: #e54040;
}

.form-wrapper button:focus:before,
.form-wrapper button:active:before{
        border-right-color: #c42f2f;
}     

.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}   

input {
    border-radius: 25px;
    background-color: transparent;
    border: 1px solid #8f7d4f;
    height: 35px;
    margin-left: 3%;
    width: 60%;
    position: absolute;
    top: -5%;
    margin-top: -2%;
    left: 30%;
    transform: translate(-50%, -50%);
}

button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: -19%;
    right: 38%;
    margin-top: -3%;
}

.download {
    text-align: right;
    h3{
        position: absolute;
        top: -22%;
        right: 1%;
    }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #8f7d4f;
    opacity: 1; /* Firefox */
    padding-left: 18px;
    font-family: 'Montserrat', sans-serif;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #8f7d4f;
    padding-left: 18px;
    font-family: 'Montserrat', sans-serif;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #8f7d4f;
    padding-left: 18px;
    font-family: 'Montserrat', sans-serif;
}

i {
    color: #8f7d4f;
}


.footer {
    border-top: 2px solid #8f7d4f;
    text-align: center;
    height: 100px;
}

h3 {
    color: #8f7d4f;
    font-size: 14px;
}

.row_foot {
    position: absolute;
    top: 50%;
}

.col_footer {
    justify-content: center;
    display: flex;
}


a {
    color: #8f7d4f;
    text-decoration: none;
}


input[type=submit] {
	background: url("../../../assets/images/submit.png") no-repeat center center;
    width: 115px;
	height: 52px;
    border: none;
    outline: none;
	color: transparent;
    font-size: 0;
    position: absolute;
    right: 12%;
    top: -10%;
}

.careers {
    display: inherit;
    justify-content: center;
    margin-top: 3.5%;
}

img {
    margin-left: 26%;
}

@media (max-width: 1920px) {
    button {
        background-color: transparent;
        border: none;
        position: absolute;
        top: -32%;
    }
    .careers {
        display: inherit;
        justify-content: center;
        margin-top: 3%;
    }
}

@media (max-width: 1366px) {
    .careers {
        display: inherit;
        justify-content: center;
        margin-top: 2.7%;
    }
    button {
        background-color: transparent;
        border: none;
        position: absolute;
        top: -45%;
    }
}

@media (max-width: 1024px) {
    input[type=submit] {
        right: 6%;
    }
    input {
        width: 70%;
        left: 40%;
    }
    button {
        right: 23%;
        margin-top: -4%;
    }
    .careers {
        margin-top: 3%;
    }
}

@media (max-width: 768px) {
    input[type=submit] {
        margin-top: 1%;
        right: -1%;
    }
    input {
        width: 70%;
        left: 40%;
    }
    button {
        right: 24%;
        margin-top: -3%;
    }
}

@media (max-width: 670px) {
    input[type=submit] {
        margin-top: -1%;
        right: -1%;
    }
    .inputclass {
        position: relative;
        padding: 1%;
    }
    input {
        margin-left: 0%;
        width: 100%;
        left: 60%;
    }
    .nulled {
        display: none;
    }
    .tip {
        position: relative !important;
        right: 0 !important;
        padding: 3%;
    }
    .last {
        text-align: center;
    }
    button {
        right: -8%;
        margin-top: -5.3%;
    }
    .logo {
        text-align: center;
    }
    .download {
        padding-bottom: 0;
        text-align: center;
        h3 {
            position: relative;
        }
    }
    .careers {
        margin-top: 0;
        padding-top: 6%;
    }
    img {
        margin-left: 2%;
    }
}

@media (max-width: 360px) {
    input[type=submit] {
        margin-top: -2%;
        right: -5%;
    }
}
@media (max-width: 320px) {
    button {
        margin-top: -6.5%;
    }
}