<div class="container-fluid" style="padding: 0; position: relative;">  
  <img style="width: 100%;" src="../../../assets/images/comingup/Miscellaneous/Kreo/Kreo-inside-black.jpg">
  <div class="banner_heading">
      <h4>Kreo<br><p style="margin-bottom: 0;">Material: Red oak and ash; </p>
        <p>Storage and display, dining area</p></h4>
  </div>
</div>

<div class="container-fluid" id="product_container">
<div class="row top_img">
  <div class="col-sm-2 col-xs-12"></div>
  <div class="col-sm-4 col-xs-12" style="text-align:center;">
    <img style="width: 90%" class="zoomed_image" src="{{mainimage}}">
  </div>
  <div class="col-sm-6 col-xs-12 pie">
    <h2 class="product_heading">Kreo<br><p style="margin-bottom: 0;">Material: Red oak and ash; </p>
       <p>Storage and display, dining area</p></h2>
  </div>
</div>


<div class="container">
  <div class="row">
      <div class="col">
        <img style="width: 60%" src="{{image1}}" (click)="changeMainImage(image1_large)" title="click here">
      </div>
      <div class="col">
        <img style="width: 60%" src="{{image2}}" (click)="changeMainImage(image2_large)" title="click here">
      </div>
      <div class="col">
        <img style="width: 60%" src="{{image3}}" (click)="changeMainImage(image3_large)" title="click here">
      </div>
  </div>
</div>
<div class="container-fluid" style="padding-right:0">
<div class="row story" style="padding-top: 10%;">
    <div class="col-sm-1"></div>
  <div class="col">
      <h2>Story</h2>
      <p>Kreo is a classic cosmopolitan crockery unit. It consists of a dual
         storage system which works purely based on the ease of functionality,
         and includes a working platform. Kreo is one of a kind piece that
         allows you to store and display your crockery in style.
      </p>
  </div>
  <div class="col col_story" style="padding-right: 0;">
    <img class="img_class" src="../../../assets/images/comingup/Miscellaneous/Kreo/Kreo-inside1.png">
  </div>
</div>
</div>
<div class="container-fluid" style="padding-left:0">
<div class="row deisgn">
  <div class="col col_story" style="padding-left: 0;">
    <img class="img_class" src="../../../assets/images/comingup/Miscellaneous/Kreo/Kreo-inside2.png">
  </div>
  <div class="col">
    <h2>Design</h2>
    <p>The design of Kreo is highly based on the functionality of the crockery unit.
       The storage unit rests on the crossings of the frames which creates the illusion
       of the unit being afloat. The sleek side frame binds the design as a whole.
    </p>
  </div>
  <div class="col-sm-1"></div>
</div>
</div>
<div class="row similar_products" style="padding-top: 5%;">
    <div class="col-sm-1"></div>
    <div class="col-sm-10"><h2>Similar Products</h2></div>
    <div class="col-sm-1"></div>
  </div>
<div class="row" style="text-align: center; padding-top: 2%; padding-bottom: 5%;">
    <div class="col">
      <img style="height: 141.77px;cursor: pointer;" [routerLink]="['/louvre']" title="Louvre" src="../../../assets/images/comingup/Miscellaneous/Louvre/Louvre.png">
            <h4 style="margin-right: 0;cursor: pointer;" [routerLink]="['/louvre']">Louvre<br><span>learn more <a [routerLink]="['/louvre']"><i class="material-icons">
              arrow_right_alt
              </i></a></span></h4>
    </div>
    <div class="col">
      <img style="height: 141.77px;cursor: pointer;" [routerLink]="['/queven']" title="Queven" src="../../../assets/images/comingup/Miscellaneous/Queven/Queven.png">
            <h4 style="margin-right: 0;cursor: pointer;" [routerLink]="['/queven']">Queven<br><span>learn more <a [routerLink]="['/queven']"><i class="material-icons">
              arrow_right_alt
              </i></a></span></h4>
    </div>
    <div class="col">
        <img style="height: 141.77px;cursor: pointer;" [routerLink]="['/stratis']" title="Stratis" src="../../../assets/images/comingup/Miscellaneous/stratis/Stratis.png">
              <h4 style="margin-right: 0;cursor: pointer;" [routerLink]="['/stratis']">Stratis<br><span>learn more <a [routerLink]="['/stratis']"><i class="material-icons">
                arrow_right_alt
                </i></a></span></h4>
      </div>
    <div class="col">
        <img style="height: 141.77px;cursor: pointer;" class="bratus"  [routerLink]="['/architecture']" title="Architecture" src="../../../assets/images/comingup/Miscellaneous/Architecture/Architecture.png">
                <h4 style="margin-right: 0;cursor: pointer;" [routerLink]="['/architecture']">Architecture<br><span>learn more <a [routerLink]="['/architecture']"><i class="material-icons">
                    arrow_right_alt
                    </i></a></span></h4>          
    </div>
    <div class="col">
      <img style="height: 141.77px;cursor: pointer;" class="bratus"  [routerLink]="['/insula']" title="Insula" src="../../../assets/images/comingup/Miscellaneous/Insula/Insula.png">
              <h4 style="margin-right: 0;cursor: pointer;" [routerLink]="['/insula']">Insula<br><span>learn more <a [routerLink]="['/insula']"><i class="material-icons">
                  arrow_right_alt
                  </i></a></span></h4>          
    </div>
  </div>
</div>