.logo {
    height: 120px;
    text-align: center;
    a {
        img {
            visibility:visible; 
            width: 3%;
        }
    }
}
.container-fluid .row {
    border-bottom: 1px solid  #BDB299;
    border-top: 1px solid  #BDB299;  
    background-color: #141414; 
}
.row {
    background-color: #eaeef2;
    margin-top: 30px !important;
}
nav {
    width: 100%;
    background-color: transparent;
}
a{
    margin-left: 2%;
}
.navbar-toggler {
    background-color: transparent;
    outline: none;
}
button.navbar-toggler {
    border: none;
}
.menu {
    display: flex;
    border: #8f7d4f;
    background-color: transparent;
    text-align: center;
}
.dropdown-toggle {
    display: inline;
    padding: 0;
    color: #8f7d4f;
    /* cursor: pointer; */
    outline: none;
    margin-left: 5%;
}
.navbar-dark .navbar-nav .active>.nav-link{
    color: #8f7d4f;
}

.navbar-dark .navbar-nav .nav-link, a, a.dropdown-item.active {
    color: #8f7d4f !important;
}

.dropdown-item {
    display: block;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  //  background: transparent;
}
a.dropdown-item.active {
    background-color: transparent;
}
img {
    position: relative;
    top: 16%;
}
.active {
    color: white !important;
}
 ul.menu-items {
     list-style: none;
     display: flex;
     justify-content: center;
     margin: 0 auto;
     width: 100%;

     li {
        display: inline;
        padding: 15px;
        font-size: 14px;
        text-transform: uppercase;
        color:  #BDB299;
        cursor: pointer;
        outline: none;
        margin-left: 5%;
    }
    li:hover{
        background-color: transparent;
        color: #fff;
        text-decoration: none;
    }
    #product:hover{
        background-color: transparent;
        color: #fff !important;
        text-decoration: none;
    }
    .selected {
        color: white;
    }
 }
  .main-menu {
      background-color: #141414;    
  }

  @media (max-width: 1920px) {
    .logo {
      height: 100px;
      a {
          img {
              visibility:visible; 
              width: 7%;
          }
      }
  }
  }  

  @media (max-width: 1336px) {
    .logo {
      height: 100px;
      a {
          img {
              visibility:visible; 
              width: 9%;
          }
      }
  }
  }  

  @media (max-width: 1024px) {
    ul.menu-items {
        li {
        margin-left: 2%;
    }
  }
  .logo {
    height: 100px;
    a {
        img {
            visibility:visible; 
            width: 12%;
        }
    }
}
}

@media (max-width: 768px) {
    .logo {
      height: 100px;
      a {
          img {
              visibility:visible; 
              width: 16%;
          }
      }
  }
  nav {
      padding-bottom: 0;
  }

  }  

@media (max-width: 414px) {
  .logo {
    height: 100px;
    a {
        img {
            visibility:visible; 
            width: 30%;
        }
    }
}
}
