.logo {
    height: 120px;
    text-align: center;
}
.container-fluid .row {
    border-bottom: 1px solid  #8f7d4f;
    border-top: 1px solid  #8f7d4f;  
    background-color: #141414; 
}
.row {
    background-color: #eaeef2;
    margin-top: 30px !important;
}
.menu {
    display: flex;
    border: #8f7d4f;
    background-color: transparent;
    text-align: center;
}

img {
    position: relative;
    top: 16%;
}

 ul.menu-items {
     list-style: none;
     display: flex;
     align-items: center;
/* justify-content: center; */
     margin: 0 auto;

     li {
        display: inline;
        padding: 25px;
        text-transform: uppercase;
        color:  #8f7d4f;
        cursor: pointer;
        outline: none;
    }
    li:hover{
        background-color: #6c757d;
        color: #fff;
        text-decoration: none;
    }

 }

 
  .main-menu {
      background-color: #141414;
      
  }
