<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <img src="../../../assets/images/logo.png">
<br>
<div class="main-menu">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-9 col-md-9 col-xs-12 menu">
        <ul class="menu-items">
          <li routerLink="">Home</li>
          <li routerLink="/about">About</li>
          <li routerLink= "/products">Products</li>
          <li routerLink="/comingup">Coming up</li> 
          <li routerLink="/contact">Contact us</li>
          <li><i class="fab fa-facebook-f"></i></li>
          <li><i class="fab fa-instagram"></i></li>
        </ul>
      </div>
    </div>
  </div>
</div>