#scrolldestination {
    padding-bottom: 2%;
}

i {
    top: 1%;
    position: absolute;
    left: 51%;
    top: 53%;
    cursor: pointer;
    color:white;
}

.banner {
    content: url('../../../assets/images/Hero-Image-Contact.jpg');
    width: 100%;
}

h2 {
    color: #8f7d4f;
    font-size: 40px;
    margin-right: 5%;
    margin-left: 26%;
}
.map {
    padding: 0px;
    opacity: 0.6;
}

form {
    width: 50%;
    margin: 0 auto;
}

input {
    border: 1px solid #8f7d4f;
    background-color: transparent;
}
select {
    border: 1px solid #8f7d4f;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #8f7d4f;
    opacity: 1; /* Firefox */
    padding-left: 20px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #8f7d4f;
    padding-left: 20px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #8f7d4f;
    padding-left: 20px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

input, select, textarea {
    width: 100%;
    padding: 12px 0;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: transparent; 
    color: #8f7d4f;
    border: 1px solid #8f7d4f;
    font-size: 16px;
    outline: none;
    font-family: 'Montserrat', sans-serif;

    option {
        color: #8f7d4f;
        background-color: #141414;
        font-size: 16px;
    }
}

select {
    padding: 14px 16px;
}

textarea {
    resize: none;
    overflow: auto;
}
textarea:focus {
    background-color: #141414;
    outline: none;
}

input[formControlName=name],input[formControlName=phone1] {
    width: 48%;
    padding: 12px 0;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    color: #8f7d4f;
    border: 1px solid #8f7d4f;
    outline: none;
}
input[formControlName=name] {
    margin-right: 2%;
}

input[formControlName=phone1] {
    margin-left: 2%;
}

button[type=submit] {
    background-color: #8f7d4f;
    color: #141414;
    padding: 12px 24px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin: -16px 0;
    border: none;
    margin-left: 3%;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    padding: 20px;
    padding-bottom: 0;
}

@media (max-width: 1024px) {
    form {
        width: 100%;
        margin: 6% auto;
    }
    h2 {
        float: left;
        margin-left: 3%;
    }


}
@media only screen and (max-width: 768px) {
.banner {
    content: url('../../../assets/images/mobile-contact-page.jpg');
    width: 100%;
}
}

@media only screen and (max-width: 670px) {

    input[formControlName=name],input[formControlName=phone1] {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 8px 0;
    }
    input, textarea {
        padding: 8px 0;
    }

    select {
        padding: 8px 16px;
    }

    h2 {
        float: left;
        font-size: 30px;
        margin-left: 6%;
    }

    button[type=submit] {
        margin: -15px 0;
        margin-left: 7%;
    }

}