<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">   
      <img class="banner_img banner">
<!--  
<a [ngx-scroll-to]="'scrolldestination'" style="color:white;"></a>
<i [ngx-scroll-to]="'scrolldestination'" class="material-icons">
  arrow_downward
</i>
-->
<div id="instafeed"></div>
<br>
<div id="scrolldestination" style="width: auto;">
    <h2><u>Contact</u></h2>
<form [formGroup]="contactForm" (ngSubmit)="submitForm(contactForm.value)" novalidate>
  <div class="form-group">
    <input class="form-group" formControlName="name" placeholder="Name" required>
    <input class="form-group" formControlName="phone1" placeholder="Email" required>
    <input class="form-group" formControlName="phone" placeholder="Phone" required>
    <select class="form-group" formControlName="options" placeholder="Option" required>
        <option value="" disabled selected>Option</option>
        <option *ngFor="let option of options" [value]="option" value="select">{{option}}</option> 
    </select>
    <input class="form-group" formControlName="subject" placeholder="Subject" required><br>
    <textarea class="form-group" formControlName="message" rows="5" placeholder="Message" required>
    </textarea>
  </div>
  <button type="submit" [disabled]="contactForm.pristine">SEND</button><br>
</form>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1943.7016300407333!2d77.58253336506054!3d13.009972587257906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae164a589aecdf%3A0xc75291ba4a29801!2sTrendy+Wood+and+Metal!5e0!3m2!1sen!2sin!4v1537355360394" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>   