.banner_img {
    width: 100%;
}

a {
    top: 0;
    position: absolute;
    left: 50%;
    top: 50%;
}

h2 {
    color: #CFB53B;
    float: right;
    font-size: 43px;
    margin-right: 5%;
}
.map {
    padding: 0px;
}

form {
    width: 50%;
    margin: 6% auto;
}

input {
    border: 1px solid #CFB53B;
    background-color: transparent;
}
select {
    border: 1px solid #CFB53B;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #CFB53B;
    opacity: 1; /* Firefox */
	padding-left: 20px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #CFB53B;
	padding-left: 20px;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #CFB53B;
	padding-left: 20px;
}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: transparent; 
    color: #CFB53B;
    border: 1px solid #CFB53B;

    option {
        color: #CFB53B;
        background-color: black;
    }
}

input[formControlName=name],input[formControlName=phone1] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    color: #CFB53B;
    border: 1px solid #CFB53B;
}


button[type=submit] {
    background-color: #CFB53B;
    color: black;
    padding: 14px 35px;
    font-size: 18px;
    margin: 8px 0;
    border: none;
    margin-left: 2%;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    padding: 20px;
}