.container-fluid, .container{
    padding-top: 4%;
    padding-bottom: 10%;
}
.container {
    text-align: center;
}
h2 {
    color: #8f7d4f;
    font-size: 52px;
}
p {
    color: #8f7d4f;
}
.pie {
    h2 {
        p {
            display: flex;
            left: 0;
            font-size: 20px;
        }
    }
}

.story {
    text-align: right;
   .col h2 {
       text-align: center;
       margin-top: 25%;
    }
   .col p {
        float: right;
        text-align: justify;
        margin-top: 10%;
        width: 80%;
    }
}

.deisgn {
    .col h2 {
        margin-top: 20%;
    }
    .col p {
        width: 80%;
        margin-top: 10%;
    }
}

@media (max-width: 768px) {
    .zoomed_image {
        width: 100%;
    }
}

@media (max-width: 670px) {
    .img_class {
        position: absolute;
        top: 40%;
        width: 100%;
    }
    .col_story {
        text-align: left;
    }
    .deisgn {
        .col p {
            width: 100%;
        }
    }

    .story {
       .col p {
            text-align: start;
            width: 100%;
        }
    }

    h2 {
        font-size: 40px;
        line-height: 35px;
        text-align: center;
    }
 }