
.container-fluid, .container{
    padding-top: 4%;
  //  padding-bottom: 10%;
   
}
.container {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}
.banner {
    content: url('../../../assets/images/productinside/lucernacollection/Lucerna/Lucernainside.jpg');
    width: 100%;;
}
.banner_heading {
    position: absolute;
    top: 52%;
    right: 40%;
    visibility: visible;
     h4 {
         color: #c3c3c3;
         p {
             color: #c3c3c3;
             font-size: 18px;
         }
     }
}

.top_img {
    visibility: hidden;
    display: none;
}

h2 {
    color: #c3c3c3;
    font-size: 30px;
}
.onscroll {
    background-color: white !important;
    transition: background-color 2s;
    p {
        color: #c3c3c3 !important;
    }
}
.onscroll_element {
    color: #c3c3c3;
    transition: background-color 2s;
    u {
        border-bottom: 1px solid #c3c3c3;
    }
}
.otherwise_element {
    color: #c3c3c3;
    transition: background-color 2s;
    u {
        border-bottom: 1px solid#c3c3c3;
    }
}
.otherwise {
    background-color: #141414 !important;
   transition: background-color 2s;
        p {
            color: #c3c3c3 !important;
        }
}
.product_heading {
    font-size: 40px;
}
p {
    color: #c3c3c3;
    margin-bottom: 0rem;
}
.pie {
    visibility: hidden;
    h2 {
        p {
            display: flex;
            left: 0;
            font-size: 16px;
        }
    }
}

h4 {
    color: #c3c3c3;
    font-size: 26px;
    outline: none;
}


span {
    font-size: 17px;
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
    cursor: pointer;
    a {
        color: #c3c3c3;
    }
    i {
        cursor: pointer;
    }
}

.story {
    text-align: left;
   .col h2 {
       margin-top: 25%;
    }
   .col p {
        float: left;
        text-align: justify;
        margin-top: 1%;
        width: 100%;
    }
}

.deisgn {
    .col h2 {
        margin-top: 20%;
    }
    .col p {
        width: 100%;
        margin-top: 1%;
    }
}

.banner_img {
    margin-top: 10%;
    margin-bottom: 10%;
}

@media (max-width: 1024px) {
    h2 {
        font-size: 60px;
    }
    .product_heading {
        font-size: 60px;
    }
    p {
        font-size: 30px;
        text-align: justify;
    }
    .similarproducts {
        padding-top: 10%;
    }
    .pie h2 p {
        font-size: 30px;
    }
    .banner_heading {
        top: 25%;
        right: 39%;
    }
}

@media (max-width: 768px) {
    .banner {
        content: url('../../../assets/images/mobile_banners/mobile-Lucernainside.jpg');
        width: 100%;;
    }
    .banner_img {
         margin-top: 0;
         margin-bottom: 0;
    }
    .product_heading {
        font-size: 40px;
    }
    h2 {
        font-size: 40px;
    }
    p {
        font-size: 20px;
        text-align: justify;
    }
    .pie h2 p {
        font-size: 20px;
    }
    .zoomed_image {
        width: 100%;
    }
    .img_class {
        width: 25%;
    }
    .story {
        //padding-top: 14%;
        padding-bottom: 8%;
    }
    .similarproducts {
        padding-top: 10%;
    }
    
}

@media (max-width: 678px) {
    .col-sm-6, .col-sm-5, .col {
        padding-left: 10%;
    }
    .banner_heading {
        visibility: hidden;
    }
    .top_img {
        visibility: visible;
        display: flex;
    }
    .col {
        text-align: center;
    }
    .img_class {
        position: relative;
        top: 15%;
        width: 15%;
    }
    .col_story {
        text-align: left;
    }
    .deisgn {
        .col p {
            width: 100%;
        }
    }
    p {
        font-size: 14px;
        width: 100%;
        text-align: justify;
    }
    .story {
        padding-bottom: 28%;
       .col p {
            text-align: start;
            width: 100%;
        }
    }
    span {
        font-size: 14px;
    }
    h4 {
        font-size: 20px;
        line-height: 1.7;
    }
    .product_heading {
        display: none;
    }

    h2 {
        font-size: 30px;
        line-height: 35px;
        text-align: left;
    }
      .pie {
          visibility: visible;
        h2 {
            p {
                width: 100%;
                line-height: 1.5;
                text-align: justify;
                font-size: 14px;
            }   
        }
    }
    .similarproducts {
        padding-top: 20%;
    }
 }


 @media (max-width: 414px) {
    .img_class {
        top: 10%
    }
    .similarproducts {
       padding-top: 50% !important;
       padding-bottom: 5%;
    }
   .pie h2 p {
       width: 100%;
   }
   .zoomed_image {
       margin-top: 0 !important;
   }
   .design_text {
    margin-top: -84%;
    }
    .design_img {
        top: 50%;
    }
}
@media (max-width: 360px) {
   .product_heading {
       margin-top: -140%;
   }
}

@media (max-width: 320px) {
    .design_img {
        top: 70%;
    }
 }