<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="container-fluid" style="padding: 0;">
  <img style="width: 100%;" src="../../../assets/images/productinside/lucernacollection/Lucerna/Lucernainside.png">
</div>
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-2 col-xs-12"></div>
      <div class="col-sm-4 col-xs-12">
        <img class="zoomed_image" style="margin-top: -8%;" src="{{mainimage}}">
      </div>
      <div class="col-sm-6 col-xs-12 pie">
        <h2 class="product_heading">Lucerna<br><p>Material: Beech</p><p>Ambient Lighting;</p></h2>
      </div>
    </div>
    <div class="row story">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
          <h2>Story</h2>
          <p>Inspired by the flutes of Ionic pillars in Greek architecture, infused with design
             elements from architecture in Bali, this eye-catching lighting accent has a contemporary,
             elegant yet simple design, with a tropical twist.
          </p>
      </div>
      <div class="col-sm-5 col_story" style="text-align: center;">
        <img class="img_class" src="../../../assets/images/productinside/lucernacollection/Lucerna/Lucernainside1.png">
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div> 
    <br>
    <div class="container-fluid">
      <div class="row deisgn">
        <div class="col-sm-1"></div>
        <div class="col-sm-5 col_story" style="text-align: center;">
          <img class="img_class design_img" src="../../../assets/images/productinside/lucernacollection/Lucerna/Lucernainside2.png">
        </div>
        <div class="col-sm-5 design_text">
          <h2>Design</h2>
          <p>This piece was created by assembling tapered strips of beech with uniform gaps that exaggerate
            its verticality, based on precise drawings and design. We incorporated bluetooth operated
            lighting to ensure that unsightly wiring does not distract from the clean lines of the design.
          </p>
        </div>
        <div class="col-sm-1"></div>
      </div>
      <br/>
      <div class="row similarproducts">
        <div class="col-sm-1"></div>
        <div class="col">
            <h2>Similar Products</h2><br>
        </div>
        <div class="col-sm-1"></div>
      </div>
      <div class="row" style="text-align: center;">
        <div class="col-sm-1"></div>
        <div class="col-md-3 col-sm-12">
            <img style="height: 141.77px;" src="../../../assets/images/productinside/pie 1.png" title="Pie" [routerLink]="['/productlucernapie']">
                <h4 style="margin-right: 0;" [routerLink]="['/productlucernapie']">Pie<br><span>learn more <a [routerLink]="['/productlucernaobtuse']"><i class="material-icons">
                    arrow_right_alt
                    </i></a></span></h4>
        </div>
        <div class="col-md-2 col-sm-12">
          <img style="height: 141.77px;" src="../../../assets/images/products/pick.png" title="Pick" [routerLink]="['/productlucernapick']">
            <h4 style="margin-right: 0;" [routerLink]="['/productlucernapick']">Pick<br><span>learn more <a [routerLink]="['/productlucernapick']"><i class="material-icons">
              arrow_right_alt
              </i></a></span></h4>
        </div>
        <div class="col-md-2 col-sm-12">
          <img style="height: 141.77px;" src="../../../assets/images/products/obtuse.png" title="Obtuse Collection" [routerLink]="['/productlucernaobtuse']">
          <h4 style="margin-right: 0;" [routerLink]="['/productlucernaobtuse']">Obtuse<br><span>learn more <a [routerLink]="['/productlucernaobtuse']"><i class="material-icons">
              arrow_right_alt
              </i></a></span></h4>
        </div>
        <div class="col-md-3 col-sm-12">
          <img style="height: 141.77px;" src="../../../assets/images/products/relica.png" title="Relica Collection" [routerLink]="['/productlucernarelica']">
          <h4 style="margin-right: 0;" [routerLink]="['/productlucernarelica']">Relica<br><span>learn more <a [routerLink]="['/productlucernarelica']"><i class="material-icons">
              arrow_right_alt
              </i></a></span></h4>  
        </div>
        <div class="col-sm-1"></div>
      </div>
    </div>