<img class="banner_img banner">
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col">
      <h2><u>Extract 1</u></h2>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <br/>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col">
        <img width="100%;" src="../../../../assets/images/productinside/lucernacollection/Obtuse/Obtusecentre.jpg">
        <h4>SOFTWOOD</h4>
      <p> Trees are generally classified into either Hardwoods or Softwoods. Inexplicably,
          not all softwoods are soft and not all hardwoods are hard. For example, balsa,
          a hardwood, produces one of the softest woods in the world. Conversely, Douglas
          fir, a softwood, is harder and has better strength properties than many hardwoods.
          In simple terms, softwoods are needle-bearing trees and hardwoods are leaf-bearing.
      </p>
      <h4>CONIFERS</h4>
      <p> There are four families of Coniferales within the softwood group. The term conifer
          is used to describe a tree that&#39;s characterized by needle-like foliage- usually
          evergreen. Most softwood trees are characterised by the cone shape, a dominant stem,
          and lateral side branching. Most of the world&#39;s commercial softwoods grow in the
          northern hemisphere.
      </p>
      <h4>NEEDLES AND NAKED SEEDS</h4>
      <p> Botanically, softwoods are gymnosperms, which in layman&#39;s terms means the seeds
          are not enclosed in a flower. You&#39;ll often see the seeds borne on the scales of
          a cone, resembling small berries like those of a juniper, or in a cup such as on a yew.
          Although most conifers are evergreens, Mother Nature threw in a twist: Some conifers,
          like the larch, drop their needles in the fall.
      </p>
      <h4>APPEARANCE</h4>
      <p> When converted into lumber, most softwoods are relatively light in color and range
          from pale yellow to reddish brown. The annual growth rings formed by layers of
          earlywood and latewood (see page 15) are typically very easy to distinguish. Most
          softwoods are fast-growing and are harvested primarily for manufacturing and
          construction-grade lumber.
      </p>
      <h4>HARDWOOD</h4>
      <p> Hardwoods are generally heavier and denser than softwoods and so are much more
          sought-after by woodworkers for their projects. In addition, hardwoods offer a
          wide variety of color and grain options for the woodworker that softwoods just
          can&#39;t match (see below).
      </p>
      <h4>DECIDUOUS</h4>
      <p> There are over 20 families of hardwoods in the United States alone.
          Most hardwood trees are deciduous, meaning their leaves fall off
          every autumn; this doesn&#39;t apply to all hardwoods, though. Those
          in tropical regions often keep their leaves year-round, and are
          evergreen. Most hardwood trees have a round or oval crown of leaves
          and a trunk that divides and subdivides (top photo). For the most part,
          broad-leaved deciduous hardwoods grow in the temperate northern hemisphere,
          and broad-leaved evergreens grow in the southern hemisphere and tropical regions.
      </p>
      <h4>LEAVES AND NUTS</h4>
      <p> Botanically, hardwoods are angiosperms- the seeds are enclosed or protected in
          the ovary of the flower, typically a fruit or a nut. Protection can vary greatly,
          from the delicate skin of a pear to the tough shell of an acorn (inset).
      </p>
      <h4>APPEARANCE</h4>
      <p> When converted into lumber, hardwoods offer a dizzying array of colors, figure,
          and grain. Colors range from the near white of holly to the jet black of ebony.
          Vibrant colors abound, such as the blood red of padauk, the bright orange of osage
          orange, and the deep violet of purpleheart. A combination of rays and vessels in
          hardwoods can produce wild effects in grain: ray fleck, tiger stripe, and fiddle
          back, to name a few (see pages 98-99). Growth rings of hardwoods can be difficult
          to distinguish; tropical hardwoods have virtually no growth rings since the growing
          season is year-round.
      </p>
      <h4>HOW A TREE GROWS</h4>
      <p> • Seeds are dispersed from a mature tree in a number of ways: Some seeds have
          broad-bladed wings to catch the wind, others have hooks to grab insects or are
          scented to attract birds. Most seeds never make it to a fertile spot where the
          conditions are right for sprouting. If the soil is warm, rich, and moist, a root
          tip and shoot tip will soon emerge. The root tip burrows into the ground and, via
          tiny hairs, absorbs moisture and elements essential for life. At the same time,
          the shoot tip grows upward toward light so that photosynthesis can occur. In its
          first year, the seedling will develop a special layer of regenerative cells called
          the vascular cambium, or simply the cambium. This important layer is only one cell
          thick and is what allows a tree to grow (see paae 11 for more on this). The cambium
          layer forms a complete sheath around the entire tree. As growth continues, new layers
          are added to the pith, which was formed by the original shoot. Side shoots, which
          ultimately become branches and finally knots, also begin in the pith. Sheathing the
          entire tree like this means that both height and girth are gained at the same time as
          annual increments of wood are laid down in a conelike form (see the drawina at riaht)
      </p>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
