<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="container-fluid" style="padding: 0; position: relative;">  
  <img style="width: 100%;" src="../../../assets/images/productinside/pie inside.png">
  <div class="banner_heading">
      <h4>Ratio Table<br><p>Material: Ash;</p><p>Tables and stands; study area</p></h4>
  </div>
</div>
<div class="container-fluid">
  <div class="row top_img">
    <div class="col-sm-2 col-xs-12"></div>
    <div class="col-sm-4 col-xs-12">
      <img style="width: 90%" class="zoomed_image" src="{{mainimage}}">
    </div>
    <div class="col-sm-6 col-xs-12 pie">
      <h2 class="product_heading">Ratio Table<br><p>Material: Ash;</p><p>Tables and stands; study area</p></h2>
    </div>
  </div>


<div class="container">
    <div class="row">
        <div class="col">
          <img src="{{image1}}" style="width: 60%" (click)="changeMainImage(image1_large)">
        </div>
        <div class="col">
          <img src="{{image2}}" style="width: 60%" (click)="changeMainImage(image2_large)">
        </div>
        <div class="col">
          <img src="{{image3}}" style="width: 60%" (click)="changeMainImage(image3_large)">
        </div>
      </div>
</div>
  <div class="row story">
    <div class="col-sm-1"></div>
    <div class="col">
        <h2>Story</h2>
        <p>The Ratio table is the centrepiece of the collection, with its sleek yet solid
           self-supporting structure and curves, referenced in the other pieces in this
           collection. The Ratio table is definitely a show-stopper in any setting, while
           also being functional as a working desk.
        </p>
    </div>
    <div class="col col_story" style="padding-right: 0; text-align: right;">
      <img class="img_class" src="../../../assets/images/productinside/pie 4.png">
    </div>
  </div>
</div>
<div class="container-fluid" style="padding: 0;">
  <div class="row deisgn">
    <div class="col col_story" style="padding-left: 0;">
      <img class="img_class" src="../../../assets/images/productinside/pie 3.png">
    </div>
    <div class="col">
      <h2>Design</h2>
      <p>The design involved calibrating and arriving at the perfect proportions which
         eliminate the need for a support, thereby making it a self-supporting desk.
      </p>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <br/><br/>
  <div class="row similarproducts">
      <div class="col-sm-1"></div>
      <div class="col">
          <h2>Similar Products</h2><br>
      </div>
      <div class="col-sm-1"></div>
    </div>
  <div class="row" style="text-align: center;">
      <div class="col-md-2 col-sm-12">
          <img style="height: 141.77px;" src="../../../assets/images/products/lucerna.png" title="Corinthian" [routerLink]="['/corinthian']">
          <h4 style="margin-right: 0;" [routerLink]="['/corinthian']">Corinthian<br><span>learn more <a [routerLink]="['/corinthian']"><i class="material-icons">
            arrow_right_alt
            </i></a></span></h4>
      </div>
      <div class="col-md-3 col-sm-12">
          <img style="height: 141.77px;" src="../../../assets/images/products/pick.png" title="Doric" [routerLink]="['/doric']">
          <h4 style="margin-right: 0;" [routerLink]="['/doric']">Doric<br><span>learn more <a [routerLink]="['/doric']"><i class="material-icons">
            arrow_right_alt
            </i></a></span></h4>
      </div>
      <div class="col-md-2 col-sm-12">
          <img style="height: 141.77px;" src="../../../assets/images/products/relica.png" title="Ergos" [routerLink]="['/ergos']">
          <h4 style="margin-right: 0;" [routerLink]="['/ergos']">Ergos<br><span>learn more <a [routerLink]="['/ergos']"><i class="material-icons">
              arrow_right_alt
              </i></a></span></h4>  
      </div>
      <div class="col-md-3 col-sm-12">
          <img style="height: 141.77px;" src="../../../assets/images/products/obtuse.png" title="The Wall" [routerLink]="['/thewall']">
          <h4 style="margin-right: 0;" [routerLink]="['/thewall']">The Wall<br><span>learn more <a [routerLink]="['/thewall']"><i class="material-icons">
              arrow_right_alt
              </i></a></span></h4>  
      </div>
      <div class="col-md-2 col-sm-12">
        <img style="height: 141.77px;" src="../../../assets/images/products/relica.png" title="Ratio table" [routerLink]="['/ratiotable']">
        <h4 style="margin-right: 0;" [routerLink]="['/ratiotable']">Ratio table<br><span>learn more <a [routerLink]="['/ratiotable']"><i class="material-icons">
            arrow_right_alt
            </i></a></span></h4>  
    </div>
    </div>
</div>