<img class="banner_img banner">
<div class="container-fluid">
      <h2><u>Upcoming Collections</u></h2>
      <div class="row">
                  <div class="col-sm-12" class="lilo">
                        <img class="lilo_banner">
                             <div class="lilo_text">
                              <ul style="color: #c3c3c3;">
                                          <h4 style="margin-right: 0;">Lilo Collection<br>
                                                <span>Coming up <a><i class="material-icons">
                                                      arrow_right_alt
                                                      </i></a>
                                                </span>
                                          </h4>
                                          <li>Kagami dresser</li>
                                          <li>Zo side table</li>
                                    </ul>
                              </div>      
                  </div>
      </div>
      <div class="row row_border"></div>
      <div class="row">
                  <div class="col-sm-12" class="dining">
                             <img class="mensa_banner">
                              <div class="dining_text dining_text1">
                              <ul class="dining_ul" style="color: #c3c3c3;">
                                          <h4 style="margin-right: 0;">Mensa Collection<br>
                                                <span>Coming up <a><i class="material-icons">
                                                      arrow_right_alt
                                                      </i></a>
                                                </span>
                                          </h4>
                                          <li>Stolica</li>
                                          <li>Shad</li>
                                    </ul>
                              </div>
                  </div>
      </div>
      <div class="row row_border"></div>
      <!-- <div class="row">
                  <div class="col-sm-12" class="lilo">
                        <img style="width: 100%;" src="../../../assets/images/comingup/ratio-collection.png">
                              <div class="lilo_text">
                                    <ul style="color: #8f7d4f;">
                                          <h4 style="margin-right: 0;">Ratio Collection<br>
                                                <span>Coming up <a><i class="material-icons">
                                                      arrow_right_alt
                                                      </i></a>
                                                </span>
                                          </h4>
                                          <li>Corinthian chair</li>
                                          <li>Ionic</li>
                                          <li>Doric</li>
                                          <li>Ergos</li>
                                          <li>The Wall</li>
                                          <li>Ratio table</li>
                                    </ul>
                              </div>      
                  </div>
      </div> 
      <div class="row row_border"></div>-->
      <div class="row">
                  <div class="col-sm-12" class="dining">
                              <img class="miscellaneous_banner">
                              <div class="dining_text dining_text2">
                              <ul class="dining_ul" style="color: #c3c3c3;">
                                          <h4 style="margin-right: 0;">Miscellaneous<br>
                                                <span>Coming up <a><i class="material-icons">
                                                      arrow_right_alt
                                                      </i></a>
                                                </span>
                                          </h4>
                                          <li>Insula TV console</li>
                                          <li>Kreo crockery unit</li>
                                          <li>Louvre bar unit</li>
                                    </ul>
                              </div>
                  </div>
      </div>
</div>