<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4 col-xs-12">
      <img class="zoomed_image" src="{{mainimage}}">
    </div>
    <div class="col-sm-6 col-xs-12 pie">
      <h2>Pie Sectional Seating<br><br><p>Material: Beech, stainless steel and cushioned backrest</p>
          <p>Catgeory: Casual Seating Area; Dining Room; Chairs and Benches</p></h2>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
          <img src="{{image1}}" (click)="changeMainImage(image1_large)" title="click here">
        </div>
        <div class="col">
          <img src="{{image2}}" (click)="changeMainImage(image2_large)" title="click here">
        </div>
        <div class="col">
          <img src="{{image3}}" (click)="changeMainImage(image3_large)" title="click here">
        </div>
      </div>
</div>

<div class="container-fluid">
  <div class="row story">
    <div class="col">
        <h2>Story</h2>
        <p>Solid live edge 4-seater with a cushioned mid-back support, ergonomically
           designed for maximum comfort, yet retaining a rustic and nature-hewn aesthetic.
           The Bratus bench is the perfect statement piece that draws attention yet blends
           with any environment by lending a natural touch.</p>
    </div>
    <div class="col">
      <img src="../../../assets/images/productinside/pie 4.png">
    </div>
  </div>
  <img class="banner_img" src="../../../assets/images/productinside/pie inside.png">
  <br>
  <div class="row deisgn">
    <div class="col">
      <img src="../../../assets/images/productinside/pie 3.png">
    </div>
    <div class="col">
      <h2>Design</h2>
      <p>In building the Bratus, we provided a slight angle in the seating to the back,
         to allow for a comfortable seating posture on the hardwood surface. While most
         wooden benches tend to veer on the uncomfortable side with lack of back support,
         the Bratus has a cushioned backrest designed to support the mid-back and as well
         as an elbow rest. We used stainless steel to create the legs, that provide superb
         structural support.
        </p>
    </div>
  </div>
  <h2>Similar Products</h2><br>
  <div class="row" style="text-align: center;">
    <div class="col">
      <img src="../../../assets/images/productinside/relica.png">
    </div>
    <div class="col">
        <img src="../../../assets/images/productinside/lucerna 1.png">
    </div>
    <div class="col">
      <img src="../../../assets/images/productinside/stump inside.png">
    </div>
  </div>
  <h2>Similar Products</h2><br>
  <div class="row" style="text-align: center;">
    <div class="col">
      <img src="../../../assets/images/productinside/relica.png">
    </div>
    <div class="col">
        <img src="../../../assets/images/productinside/lucerna 1.png">
    </div>
    <div class="col">
      <img src="../../../assets/images/productinside/stump inside.png">
    </div>
  </div>

</div>