<div class="container-fluid" style="padding: 0; position: relative;">  
  <img style="width: 100%;" src="../../../assets/images/comingup/Mensa/Mensa/mensa-inside-black.png">
  <div class="banner_heading">
      <h4>Round Cube<br><p style="margin-bottom: 0; width: 100%;">Material: Beech, cane;</p>
        <p style="width:100%;">Casual seating area</p></h4>
  </div>
</div>

<div class="container-fluid" style="padding: left 0;padding-right:0;" id="product_container">
<div class="row top_img">
  <div class="col-sm-2 col-xs-12"></div>
  <div class="col-sm-4 col-xs-12" style="text-align:center;">
    <img style="width: 90%" class="zoomed_image" src="{{mainimage}}">
  </div>
  <div class="col-sm-6 col-xs-12 pie">
    <h2 class="product_heading">Round Cube<br><p style="margin-bottom: 0;">Material: Beech, cane</p>
       <p>Casual seating area</p></h2>
  </div>
</div>


<div class="container">
  <div class="row">
      <div class="col">
        <img style="width: 60%" src="{{image1}}" (click)="changeMainImage(image1_large)" title="click here">
      </div>
      <div class="col">
        <img style="width: 60%" src="{{image2}}" (click)="changeMainImage(image2_large)" title="click here">
      </div>
    </div>
</div>
<div class="container-fluid" style="padding-right:0;">
<div class="row story" style="padding-top: 10%;">
    <div class="col-sm-1"></div>
  <div class="col">
      <h2>Story</h2>
      <p>This elegant and compact stool can never be out of place! It is formed by
         a geometrically perfect cylinder topped with a woven cane seat,  carrying
         the simplicity that is the hallmark of the Mensa collection. The muted
         color palette and sleek compact design allows it to blend into any setting,
         offering convenience and comfort.
      </p>
  </div>
  <div class="col col_story" style="padding-right: 0;">
    <img class="img_class" src="../../../assets/images/comingup/Mensa/Round cube/roundcube-inside1.png">
  </div>
</div>
</div>
<div class="container-fluid" style="padding-left:0;">
<div class="row deisgn">
  <div class="col col_story" style="padding-left: 0;">
    <img class="img_class" src="../../../assets/images/comingup/Mensa/Round cube/roundcube-inside2.png">
  </div>
  <div class="col">
    <h2>Design</h2>
    <p>The cylindrical base was created using curved wooden slats in a brick
       pattern, that forms a subtle motif. The woven cane for the seat is a
       nod to traditional Indian furniture, blended perfectly with the
       minimalist clean design language of The Mallet workshop.
    </p>
  </div>
  <div class="col-sm-1"></div>
</div>
</div>
<div class="row similar_products" style="padding-top: 5%;">
    <div class="col-sm-1"></div>
    <div class="col-sm-10"><h2>Similar Products</h2></div>
    <div class="col-sm-1"></div>
  </div>
<div class="row" style="text-align: center; padding-top: 2%; padding-bottom: 5%;">
    <div class="col">
      <img style="height: 141.77px; cursor: pointer;" [routerLink]="['/scoot']" title="Scoot" src="../../../assets/images/comingup/Mensa/Scoot/Scoot.png">
            <h4 style="margin-right: 0; cursor: pointer;" [routerLink]="['/scoot']">Scoot<br><span>learn more <a [routerLink]="['/scoot']"><i class="material-icons">
              arrow_right_alt
              </i></a></span></h4>
    </div>
    <div class="col">
      <img style="height: 141.77px; cursor: pointer;" [routerLink]="['/shad']" title="Shad" src="../../../assets/images/comingup/Mensa/Shad/shad1.png">
            <h4 style="margin-right: 0; cursor: pointer;" [routerLink]="['/shad']">Shad<br><span>learn more <a [routerLink]="['/shad']"><i class="material-icons">
              arrow_right_alt
              </i></a></span></h4>
    </div>
    <div class="col">
      <img style="height: 141.77px; cursor: pointer;" [routerLink]="['/stolica']" title="Stolica" src="../../../assets/images/comingup/Mensa/Stolica/stolica.png">
            <h4 style="margin-right: 0; cursor: pointer;" [routerLink]="['/stolica']">Stolica<br><span>learn more <a [routerLink]="['/stolica']"><i class="material-icons">
              arrow_right_alt
              </i></a></span></h4>
    </div>
    <div class="col">
      <img style="height: 141.77px; cursor: pointer;" class="bratus"  [routerLink]="['/chaitable']" title="Chai Table" src="../../../assets/images/comingup/Mensa/Chai table/chaitable.png">
              <h4 style="margin-right: 0; cursor: pointer;" [routerLink]="['/chaitable']">Chai Table<br><span>learn more <a [routerLink]="['/chaitable']"><i class="material-icons">
                  arrow_right_alt
                  </i></a></span></h4>         
    </div>
    <div class="col">
      <img style="height: 141.77px; cursor: pointer;" class="bratus"  [routerLink]="['/cornula']" title="Cornula" src="../../../assets/images/comingup/Mensa/Cornula/Cornula.png">
              <h4 style="margin-right: 0; cursor: pointer;" [routerLink]="['/cornula']">Cornula<br><span>learn more <a [routerLink]="['/cornula']"><i class="material-icons">
                  arrow_right_alt
                  </i></a></span></h4>            
    </div>
    <div class="col">
      <img style="height: 141.77px; cursor: pointer;" [routerLink]="['/mensa']" title="Mensa" src="../../../assets/images/comingup/Mensa/Mensa/Mensa.png">
            <h4 style="margin-right: 0; cursor: pointer;" [routerLink]="['/mensa']">Mensa<br><span>learn more <a [routerLink]="['/mensa']"><i class="material-icons">
              arrow_right_alt
              </i></a></span></h4>
    </div>
  </div>
</div>