<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="container-fluid" style="padding: 0; position: relative;">  
  <img style="width: 100%;" src="../../../assets/images/productinside/Ratiocollection/doric/Doric-inside-black.jpg">
  <div class="banner_heading">
      <h4>Doric<br><p>Material: Beech, oak, upholstery;</p><p>Casual seating area</p></h4>
  </div>
</div>
<div class="container-fluid" id="product_container">
  <div class="row top_img">
    <div class="col-sm-2 col-xs-12"></div>
    <div class="col-sm-4 col-xs-12" style="text-align:center;">
      <img style="width: 90%" class="zoomed_image" src="{{mainimage}}">
    </div>
    <div class="col-sm-6 col-xs-12 pie">
      <h2 class="product_heading">Doric<br><p>Material: Beech, oak, upholstery;</p><p>Casual Seating Area</p></h2>
    </div>
  </div>


<div class="container">
    <div class="row">
        <div class="col">
          <img src="{{image1}}" style="width: 60%" (click)="changeMainImage(image1_large)">
        </div>
        <div class="col">
          <img src="{{image2}}" style="width: 60%" (click)="changeMainImage(image2_large)">
        </div>
        <div class="col">
          <img src="{{image3}}" style="width: 60%" (click)="changeMainImage(image3_large)">
        </div>
      </div>
</div>
  <div class="row story">
    <div class="col-sm-1"></div>
    <div class="col">
        <h2>Story</h2>
        <p>The Doric order is the earliest of all the classical orders, and stands for stark
           simplicity and minimal adornment. It is believed to be representative of masculinity,
           and as such, plays off the feminine aura of the Ionic order. These characteristics
           were the main inspiration for the design of this piece, with the legs and the back of
           the chair reflecting the smooth flutes of a classic Doric column. 
        </p>
    </div>
    <div class="col col_story" style="padding-right: 0; text-align: right;">
      <img class="img_class" src="../../../assets/images/productinside/Ratiocollection/doric/Doric 1.png">
    </div>
  </div>
  <div class="row deisgn">
    <div class="col col_story" style="padding-left: 0;">
      <img class="img_class" src="../../../assets/images/productinside/Ratiocollection/doric/Doric 2.png">
    </div>
    <div class="col">
      <h2>Design</h2>
      <p>The design of this piece is more stark and sleek in comparison with the other
         pieces in the Ratio collection, with the smooth columns of the legs of the
         chair being the strongest reference to our Doric inspiration.
      </p>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <br/><br/>
  <div class="row similarproducts">
      <div class="col-sm-1"></div>
      <div class="col">
          <h2>Similar Products</h2><br>
      </div>
      <div class="col-sm-1"></div>
    </div>
  <div class="row" style="text-align: center; padding-bottom: 5%;">
      <div class="col-md-3 col-sm-12">
          <img style="height: 141.77px;cursor: pointer;" src="../../../assets/images/productinside/Ratiocollection/ionic/Ionic.png" title="Ionic" [routerLink]="['/ionic']">
          <h4 style="margin-right: 0;cursor: pointer;" [routerLink]="['/ionic']">Ionic<br><span>learn more <a [routerLink]="['/ionic']"><i class="material-icons">
            arrow_right_alt
            </i></a></span></h4>
      </div>
      <div class="col-md-3 col-sm-12">
        <img style="height: 141.77px;cursor: pointer;" src="../../../assets/images/productinside/Ratiocollection/corinthian/Corinthian.png" title="Corinthian" [routerLink]="['/corinthian']">
        <h4 style="margin-right: 0;cursor: pointer;" [routerLink]="['/corinthian']">Corinthian<br><span>learn more <a [routerLink]="['/corinthian']"><i class="material-icons">
          arrow_right_alt
          </i></a></span></h4>
      </div>
      <div class="col-md-3 col-sm-12">
        <img style="height: 141.77px;cursor: pointer;" src="../../../assets/images/productinside/Ratiocollection/ergos/Ergos.png" title="Ergos" [routerLink]="['/ergos']">
        <h4 style="margin-right: 0;cursor: pointer;" [routerLink]="['/ergos']">Ergos<br><span>learn more <a [routerLink]="['/ergos']"><i class="material-icons">
            arrow_right_alt
            </i></a></span></h4>  
      </div>
      <div class="col-md-3 col-sm-12">
        <img style="height: 141.77px;cursor: pointer;" src="../../../assets/images/productinside/Ratiocollection/wall/The-Wall.png" title="The Wall" [routerLink]="['/thewall']">
        <h4 style="margin-right: 0;cursor: pointer;" [routerLink]="['/thewall']">The Wall<br><span>learn more <a [routerLink]="['/thewall']"><i class="material-icons">
            arrow_right_alt
            </i></a></span></h4>   
      </div>
      <!--
      <div class="col-md-2 col-sm-12">
        <img style="height: 141.77px;" src="../../../assets/images/products/relica.png" title="Ratio table" [routerLink]="['/ratiotable']">
        <h4 style="margin-right: 0;" [routerLink]="['/ratiotable']">Ratio table<br><span>learn more <a [routerLink]="['/ratiotable']"><i class="material-icons">
            arrow_right_alt
            </i></a></span></h4>  
    </div> 
    <div class="col-sm-1"></div> -->
    </div>
</div>