<div class="container-fluid" style="padding: 0; position: relative;">  
    <img style="width: 100%;" src="../../../assets/images/productinside/stumpcollection/airshelf/air-shelf-inside-black.png">
    <div class="banner_heading">
        <h4>Air Shelf<br><p style="margin-bottom: 0;">Material: Oak panels and blackened metal structure;</p>
          <p>Storage and Display</p></h4>
    </div>
  </div>
<div class="container-fluid">
    <div class="row top_img">
      <div class="col-sm-2 col-xs-12"></div>
      <div class="col-sm-4 col-xs-12">
        <img style="width: 90%" class="zoomed_image" src="{{mainimage}}">
      </div>
      <div class="col-sm-6 col-xs-12 pie">
        <h2 class="product_heading">Air Shelf<br><p style="margin-bottom: 0;">Material: Oak panels and blackened metal structure;</p>
           <p>Storage and Display</p></h2>
      </div>
    </div>
  
  <div class="container">
      <div class="row" style="padding-bottom: 5%;">
          <div class="col">
            <img style="width: 60%" src="{{image1}}" (click)="changeMainImage(image1_large)" title="click here">
          </div>
          <div class="col">
            <img style="width: 60%" src="{{image2}}" (click)="changeMainImage(image2_large)" title="click here">
          </div>
        </div>
  </div>
    <div class="row story">
        <div class="col-sm-1"></div>
      <div class="col">
          <h2>Story</h2>
          <p>Inspired by the art of Pier Mondrian, the Air Shelf is an assemblage of cubes and
             cuboids in a balanced and rhythmic manner. The partly open and partly covered
             shelves heighten the illusion of openness and airy feel. Functionally, the open
             shelves allow access from both sides, while also allowing for hidden spaces to
             store objects out of sight. The Air Shelf is also available with a low unit with
             three drawers for additional storage space.
            </p>
      </div>
      <div class="col col_story" style="padding-right: 0;">
        <img class="img_class" src="../../../assets/images/productinside/stumpcollection/airshelf/air-shelf 1.png">
      </div>
    </div>
</div>
<div class="container-fluid" style="padding: 0;">
    <div class="row deisgn">
      <div class="col col_story">
        <img class="img_class" src="../../../assets/images/productinside/stumpcollection/airshelf/air-shelf 2.png">
      </div>
      <div class="col">
        <h2>Design</h2>
        <p>The main challenge with this piece was translating the abstract artwork of Pier Mondrian
           from the  early 20th century to a contemporary 3-dimensional furniture piece fashioned
           out of wood. Much thought was devoted to the exact arrangement of the various elements,
           to achieve the modular yet perfectly unified aesthetic of Mondrian’s work. In terms of
           craftsmanship, the process involved creating separate panels and adding in fixture details
           to complete the overall form and aesthetic of the shelf.
          </p>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <div class="row similarproducts">
        <div class="col-sm-1"></div>
        <div class="col">
            <h2>Similar Products</h2><br>
        </div>
        <div class="col-sm-1"></div>
      </div>
    <div class="row" style="text-align: center; padding-bottom: 5%;">
        <div class="col-sm-1"></div>
        <div class="col-md-5 col-sm-12">
            <img style="height: 141.77px;" src="../../../assets/images/products/stump.png" title="Stump" [routerLink]="['/productstump']">
            <h4 style="margin-right: 0;" [routerLink]="['/productstump']">Stump<br><span>learn more <a [routerLink]="['/productstump']"><i class="material-icons">
              arrow_right_alt
              </i></a></span></h4>
        </div>
        <div class="col-md-5 col-sm-12">
            <img style="height: 141.77px;" src="../../../assets/images/productinside/stumpcollection/robbiesofa/robbie-sofa.png" title="Robbie Sofa" [routerLink]="['/productstumpsofa']">
            <h4 style="margin-right: 0;" [routerLink]="['/productstumpsofa']">Robbie Sofa<br><span>learn more <a [routerLink]="['/productstumpsofa']"><i class="material-icons">
              arrow_right_alt
              </i></a></span></h4>
        </div>
        <div class="col-sm-1"></div>
      </div>
  
  </div>