.container-fluid, .container{
    padding-top: 4%;
}
.container {
    text-align: center;
}
h2 {
    color: #c3c3c3;
    font-size: 30px;
}
.onscroll {
    background-color: white !important;
    transition: background-color 2s;
    p {
        color: #c3c3c3 !important;
    }
}
.onscroll_element {
    color: #c3c3c3;
    transition: background-color 2s;
    u {
        border-bottom: 1px solid #8f7d4f;
    }
}
.otherwise_element {
    color: #c3c3c3;
    transition: background-color 2s;
    u {
        border-bottom: 1px solid#c3c3c3;
    }
}
.otherwise {
    background-color: #141414 !important;
   transition: background-color 2s;
        p {
            color: #8f7d4f !important;
        }
}
h4 {
    color: #c3c3c3;
    font-size: 25px;
    outline: none;
}
span {
    font-size: 17px;
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
    cursor: pointer;
    a {
        color: #c3c3c3;
    }
    i {
        cursor: pointer;
    }
}
.product_heading {
    font-size: 40px;
}
p {
    color: #8f7d4f;
}
.pie {
    h2 {
        p {
            display: flex;
            left: 0;
            font-size: 16px;
        }
    }
}

.story {
    text-align: right;
   .col h2 {
       text-align: left;
       margin-top: 25%;
    }
   .col p {
        float: left;
        text-align: justify;
        margin-top: 1%;
        width: 100%;
    }
}

.deisgn {
    .col h2 {
        margin-top: 20%;
    }
    .col p {
        width: 100%;
        margin-top: 1%;
        text-align: justify;
    }
}

.banner_img {
    margin-bottom: 10%;
}

.similarproducts {
    padding-top: 10%;
}
.banner_heading {    
    position: absolute;
    top: 30%;
    left: 51%;
    visibility: visible;
   // transform: translate(7%, -192%);
     h4 {
         color: #c3c3c3;
         p {
             font-size: 18px;
             color: #c3c3c3;
         }
     }
}
.top_img {
    visibility: hidden;
    display: none;
}

@media (max-width: 1024px) {
    .img_class {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .zoomed_image {
        width: 100%;
    }
    .banner_img {
        margin-top: 20%;
        margin-bottom: 20%;
    }
    .col.col_story {
        padding-top: 13%;
    }
    .container-fluid {
        padding-top: 10%;
    }
}

@media (max-width: 670px) {
    .img_class {
        position: absolute;
        top: 40%;
        width: 100%;
    }
    .banner_heading {
        visibility: hidden;
    }
    .top_img {
        visibility: visible;
        display: flex;
    }
    .col_story {
        text-align: left;
    }
    .deisgn {
        .col p {
            width: 100%;
        }
    }

    .story {
       .col p {
            text-align: justify;
            width: 100%;
        }
    }
    span {
        font-size: 14px;
    }
    h4 {
        font-size: 20px;
        line-height: 1.5;
    }
    .product_heading {
        font-size: 35px;
    }
    h2 {
        padding-top: 10%;
        font-size: 30px;
        line-height: 35px;
        text-align: left;
    }
    .pie {
        h2 {
            p {
                width: 100%;
                line-height: 1.5;
                text-align: justify;
                font-size: 14px;
            }   
        }
    }
 }
 @media (max-width: 414px) {
    .col-sm-4.col-xs-12 {
        text-align: center;
    }
    .img_class {
        top: 20%
    }
    .similarproducts {
       padding-bottom: 5%;
    }
   .product_heading {
       margin-top: -130%;
       padding-left: 10%;
   }
   .col {
       padding-left: 10%;
   }
   .col.col_story {
       padding-left: 0;
   }
   .pie h2 p {
       width: 100%;
   }
   .zoomed_image {
       margin-top: 28% !important;
   }
   .design_text {
    margin-top: -84%;
    }
    .design_img {
        top: 50%;
    }
}
@media (max-width: 360px) {
   .product_heading {
       margin-top: -140%;
   }
   .zoomed_image {
       margin-top: 40% !important;
   }
   .deisgn {
    padding-bottom: 0;
   }
}

@media (max-width: 320px) {
    .design_img {
        top: 70%;
    }
    .product_heading {
        font-size: 30px;
    }
 }
