
.banner_img {
    width: 100%;
}
h2 {
    color: #CFB53B;
    float: right;
    font-size: 43px;
    margin-right: 5%;
}

.row {
    margin-top: 6%;
}

.col-sm-10 {
    border-left: 2px solid #CFB53B;
    padding: 0 3%;
}
.col-md-10 {
    border-left: 2px solid #CFB53B;
    padding: 0 3%;
}

.col-sm-2 {
    img {
        position: absolute;
        top: 32%;
        left: 60%;
    }
}

 .col-md-2  {
    img {
        position: absolute;
        top: 32%;
        left: 60%;
    }
}

p {
    color: #CFB53B;
    width: 90%;
}


.row_chisel {
    margin-left: 7%;
}


