<img class="banner_img" src="../../../assets/images/about/About us Hero image.png">
<h2>Our <u>Story</u></h2>
<div class="row" style="padding-bottom: 10%;">
    <div class="column1">
      <img class="small_img" src="../../../assets/images/icon on home page.png">
    </div>
    <div class="column2">
        <p>Mallet reflects the coming together of traditional woodworking craftsmanship
          with a modern sensibility and global design aesthetic. We seek to create unique,
          custom furniture for the Indian market, with an underlying grain of innovative
          design and impeccable skill. If you are looking for luxury decor combined with
          sustainability, and international design with quality local materials treated
          with care and skill, Mallet is for you.  
        </p>
    </div>
  </div>

<br>
<div class="row">
  <div class="column">
    <img src="../../../assets/images/homepage/chisel.png">
  </div>
  <div class="column">
    <img src="../../../assets/images/homepage/ruler.png">
  </div>
  <div class="column">
    <img src="../../../assets/images/homepage/rotator.png">
  </div>
</div>

<div class="row" style="padding-bottom: 10%;">
  <div class="column">
    <img src="../../../assets/images/homepage/scrapper.png">
  </div>
  <div class="column">
    <img src="../../../assets/images/homepage/hammer.png">
  </div>
  <div class="column">
    <img src="../../../assets/images/homepage/saw.png">
  </div>
</div>
<br>
<h2>Our <u>Code</u></h2>
<div class="row">
    <div class="column1">
        <img class="small_img" src="../../../assets/images/icon on home page.png">
    </div>
    <div class="column2">
        <p> At the core of Mallet is understanding our customers’ needs. Our handcrafted
            furniture is not only one-of-a-kind, but also of the highest quality. Each 
            piece is designed and executed with an underlying concept, which inspires 
            various visual and structural elements, and comes through with clarity in 
            the final form. 
        </p>
    </div>
</div>
<div class="row">
    <div class="column1">
    </div>
    <div class="column3">
        <p> While our craftspeople are trained in the fine traditions of woodworking from 
            India and abroad, we take pride in pushing the envelope and reinterpreting 
            classical styles and design. Our signature solid wood furniture is instantly
            recognizable by its distinctive shapes and ornamentation, and innovative ergonomics
            that elevate interiors to a whole new level. Our pieces are crafted using jigs and
            templates, from specially selected light coloured wood and treated with natural 
            oiling - every piece exudes  solidity and sophistication and reflects carefully
            considered concepts.  
        </p>
    </div>
</div>
<div class="row">
    <div class="column1">
    </div>
    <div class="column3" style="margin-top: -3%;">
        <p> Our ethos of sustainability is reflected in the fact that we undertake continuous
            training of our craftspeople, use responsible sourcing across the board and follow
            by fair trade practices. We take our eco-footprint seriously - all our wood is 
            locally sourced through FSC and PEFC certified vendors, ensuring that our business
            operates in line with international best practices on sustainable forest management. 
        </p>
    </div>
</div>
<br>
<img class="banner_img" src="../../../assets/images/about/our code.png">

