<img class="banner_img banner">
<div class="container-fluid" style="margin-top: 4%; padding-left: 0; padding-right: 0;">
    <div class="row" style="padding-top: 3%;">
        <!--   <div class="col-sm-2 col-md-2">
           <img class="small_img" src="../../../assets/images/icon on home page.png">
           </div> -->
           <div class="col-sm-1 col-md-1"></div>
           <div class="col-sm-10 col-md-10 column_border">
               <h2><u>Our Story</u></h2>
           </div>
           <div class="col-sm-1 col-md-1"></div>
       </div>
    <div class="row" style="padding-top: 1%;">
     <!--   <div class="col-sm-2 col-md-2">
        <img class="small_img" src="../../../assets/images/icon on home page.png">
        </div> -->
        <div class="col-sm-1 col-md-1"></div>
        <div class="col-sm-10 col-md-10 column_border">
            <p style="margin-bottom: 0;">The Mallet reflects the coming together of traditional woodworking craftsmanship
            with a modern sensibility and global design aesthetic. We seek to create unique,
            custom furniture for the Indian market, with an underlying grain of innovative
            design and impeccable skill. If you are looking for luxury decor combined with
            sustainability, and international design with quality local materials treated
            with care and skill, The Mallet is for you.  
            </p>
        </div>
        <div class="col-sm-1 col-md-1"></div>
    </div>
            <div class="row tools">
                    <div class="col-sm-1 col-md-1 col-lg-1"></div>
                    <div class="col">
                        <img src="../../../assets/images/about/mallet tools.png">
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1"></div>
                </div>
        <!-- <div class="row">
            <div class="col-sm-1"></div>
            <div class="col">
              <img src="../../../assets/images/remallet_footerandfavicon/chisel-2.png">
            </div>
            <div class="col">
                <img src="../../../assets/images/remallet_footerandfavicon/scrapper.png">
            </div>
            <div class="col">
              <img src="../../../assets/images/remallet_footerandfavicon/chisel.png">
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="row" style="margin-top:0;">
            <div class="col-sm-1"></div>
            <div class="col">
              <img src="../../../assets/images/remallet_footerandfavicon/rotator.png">
            </div>
            <div class="col">
              <img src="../../../assets/images/remallet_footerandfavicon/hammer.png">
            </div>
            <div class="col">
              <img src="../../../assets/images/remallet_footerandfavicon/ruler.png">
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="row" style="margin-top:0;">
            <div class="col-sm-1"></div>
            <div class="col">
              <img src="../../../assets/images/remallet_footerandfavicon/measure.png">
            </div>
            <div class="col">
              <img src="../../../assets/images/remallet_footerandfavicon/saw.png">
            </div>
            <div class="col">
              <img src="../../../assets/images/remallet_footerandfavicon/tape.png">
            </div>
            <div class="col-sm-1"></div>
        </div> -->
        <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 column_border">
                        <h2><u>Our Code</u></h2>
                </div>
                <div class="col-sm-1"></div>  
        </div>        
    <div class="row" style="padding-top: 1%;">
      <!-- <div class="col-sm-2 col-md-2">
            <img class="small_img" src="../../../assets/images/icon on home page.png">
        </div> -->
        <div class="col-sm-1 col-md-1"></div>
        <div class="col-sm-10 col-md-10 column_border">
            <p> At the core of The Mallet is understanding our customers’ needs. Our handcrafted
                furniture is not only one-of-a-kind, but also of the highest quality. Each 
                piece is designed and executed with an underlying concept, which inspires 
                various visual and structural elements, and comes through with clarity in 
                the final form. 
            </p>
        </div>
        <div class="col-sm-1 col-md-1"></div>
    </div>
    <div class="row">
            <div class="col-sm-1 col-md-1"></div>
            <div class="col-sm-10 col-md-10 column_border" style="border-left:none;">
                <p> While our craftspeople are trained in the fine traditions of woodworking from 
                    India and abroad, we take pride in pushing the envelope and reinterpreting 
                    classical styles and design. Our signature solid wood furniture is instantly
                    recognizable by its distinctive shapes and ornamentation, and innovative ergonomics
                    that elevate interiors to a whole new level. Our pieces are crafted using jigs and
                    templates, from specially selected light coloured wood and treated with natural 
                    oiling - every piece exudes  solidity and sophistication and reflects carefully
                    considered concepts.  
                </p>
            </div>
            <div class="col-sm-1 col-md-1"></div>
        </div>
        <div class="row">
                <div class="col-sm-1 col-md-1"></div>
                <div class="col-sm-10 col-md-10 column_border" style="border-left:none;">
                    <p> Our ethos of sustainability is reflected in the fact that we undertake continuous
                        training of our craftspeople, use responsible sourcing across the board and follow
                        by fair trade practices. We take our eco-footprint seriously - all our wood is 
                        locally sourced through FSC and PEFC certified vendors, ensuring that our business
                        operates in line with international best practices on sustainable forest management. 
                    </p>
                </div>
                <div class="col-sm-1 col-md-1"></div>
            </div>
            <img class="banner_img img_code" src="../../../assets/images/about/our code.png">
</div>
      <br>

