h2 {
    color: #8f7d4f;
    float: right;
    font-size: 54px;
    margin-right: 12%;
}


.row {
    width: 100%;
}

.col-sm-10 {
    border-left: 2px solid #8f7d4f;
    padding: 0 3%;
}
.col-md-10 {
    border-left: 2px solid #8f7d4f;
    padding: 0 3%;
}

.col-sm-2 {
    img {
        position: absolute;
        top: 40%;
        left: 50%;
    }
}

 .col-md-2  {
    img {
        position: absolute;
        top: 40%;
        left: 50%;
    }
}

p {
    color: #8f7d4f;
    width: 90%;
    font-size: 20px;
}

.row_chisel {
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 670px) {
    .col-sm-4, .col-md-2, .col-lg-2 {
         img {
             position: relative;
             left: 0;
             top: 0;
         }
     }
 
     h2 {
         margin: 0 auto;
         font-size: 40px;
     }
 
     p {
         color: #8f7d4f;
         width: 100%;
         font-size: 12px;
         margin-left: 5%;
     }
     .col-sm-2.col-md-2 {
        text-align: center;
    }
    
     
 }