<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<img class="banner_img banner">
<div class="container-fluid" id="product_container" style="padding-bottom: 5%;">
        <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <h2 class="product_heading"><u>Our  Products</u></h2>
                </div>
                <div class="col-sm-1"></div>  
        </div>
  <div class="row" style="padding-top: 1%;">
     <!-- <div class="col-sm-4 col-md-2 col-lg-2 class-col-sm-4">
          <img src="../../../assets/images/icon on home page.png">
      </div>-->
      <div class="col-sm-1 col-md-1 col-lg1"></div>
      <div class="col-sm-10 col-md-10 col-lg-10" style="margin-top:1%;">
          <p>We tell a story with each piece that balances form and fantasy, solidity and
             sophistication, tradition with transformation. Take your eye for a journey 
             over each curve, corner, edge and angle…</p>
      </div>
      <div class="col-sm-1 col-md-1 col-lg1"></div>
  </div>
  <div class="row" id="stump">
      <div class="col-sm-1"></div>
      <div class="col stump_collection">
          <h4 [routerLink]="['/productstump']">Stump Collection<br><span>learn more <a [routerLink]="['/productstump']"><i class="material-icons">
                  arrow_right_alt
                  </i></a></span></h4>
         
        <p class="class_p stump_p" style="right: 0;">
           The Stump Collection is inspired by the symmetry of shapes and forms both
           imagined and discovered in nature. The strong lines and assertive presence
           of each of the pieces in this collection are what make it stand out, not only
           within The Mallet’s repertoire, but also in the market.
          </p>
      </div>
      <div class="col stump_img">
          <img class="stump" src="../../../assets/images/products/stump.png" title="Stump"  [routerLink]="['/productstump']">
      </div>
      <div class="col-sm-1"></div>
  </div> 
  <div class="row" style="text-align: center;">
          <div class="col-sm-1"></div>
          <div class="col">
              <img style="padding-bottom: 2%; height: 141.77px;" src="../../../assets/images/products/air-shelf.png" title="Air-Shelf" [routerLink]="['/productstumpshelf']">
              <h4 style="margin-right: 0;" [routerLink]="['/productstumpshelf']">Air-shelf<br><span>learn more<a [routerLink]="['/productstumpshelf']"><i class="material-icons">
                arrow_right_alt
                </i></a></span></h4>
            </div>
            <div class="col">
                    <img style="height: 141.77px;" src="../../../assets/images/products/robbie-sofa.png" title="Robbie Sofa" [routerLink]="['/productstumpsofa']">
                        <h4 style="margin-right: 0;" [routerLink]="['/productstumpsofa']">Robbie Sofa<br><span>learn more <a [routerLink]="['/productstumpsofa']"><i class="material-icons">
                            arrow_right_alt
                            </i></a></span></h4>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="row row_border"></div>
  <div class="row wing_row" style="margin-right: 10%;">
      <div class="col-sm-1"></div>
    <div class="col-md-5 col-sm-12 center_flex wing_flex">
      <img class="wing" title="Wing" [routerLink]="['/productwing']">
    </div>
    <div class="col-md-5 col-sm-12 wing_collection">
          <h4 [routerLink]="['/productwing']">Wing Collection<br><span>learn more <a [routerLink]="['/productwing']">
              <i class="material-icons">
                  arrow_right_alt
                  </i></a></span></h4>
      <p class="class_p wing_p">
         Let your mind take flight with the Wing Collection. We channel the
         aerodynamism, sleekness and the precise technical skill involved in
         creating supersonic jets in this collection.</p>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="row" style="text-align: center;">
          <div class="col-sm-1"></div>
          <div class="col">
              <img style="padding-bottom: 2%; height: 141.77px;" src="../../../assets/images/products/Wing-2.png" title="Wing 2" [routerLink]="['/productwing2']">
              <h4 style="margin-right: 0;" [routerLink]="['/productwing2']">Wing 2<br><span>learn more<a [routerLink]="['/productwing2']"><i class="material-icons">
                arrow_right_alt
                </i></a></span></h4>
            </div>
            <div class="col">
                    <img style="height: 141.77px;" src="../../../assets/images/products/Rick-Rack.png" title="Rick-Rack" [routerLink]="['/productwingrack']">
                        <h4 style="margin-right: 0;" [routerLink]="['/productwingrack']">Rick-Rack<br><span>learn more <a [routerLink]="['/productwingrack']"><i class="material-icons">
                            arrow_right_alt
                            </i></a></span></h4>
            </div>
            <div class="col">
                  <img style="height: 141.77px;" src="../../../assets/images/products/Wing-Chair.png" title="Wing Chair" [routerLink]="['/productwingchair']">
                      <h4 style="margin-right: 0;" [routerLink]="['/productwingchair']">Wing Chair<br><span>learn more <a [routerLink]="['/productwingchair']"><i class="material-icons">
                          arrow_right_alt
                          </i></a></span></h4>
          </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="row row_border"></div>
    <div class="row desklucerna">
        <div class="col-sm-1"></div>
        <div class="col stump_collection">
                <h4 [routerLink]="['/productlucerna']">Lucerna Collection<br><span>learn more <a [routerLink]="['/productlucerna']"><i class="material-icons">
                        arrow_right_alt
                        </i></a></span></h4>
               
              <p class="class_p stump_p" style="right: 0;">
                  Lucerna highlights the beauty of the curve, reflected in the form and
                  structure of each piece. Each piece has been inspired by the symmetry
                  and harmony of the world around us - ranging from the mathematical
                  formula for pi to ionic pillars in greek architecture as well as the
                  weightlessness and brightness of Bali and tropical elements.
              </p>
        </div>
        <div class="col stump_img">
            <img class="stump" src="../../../assets/images/products/lucerna.png" title="Lucerna"  [routerLink]="['/productlucerna']">
        </div>
            <div class="col-sm-1"></div>
  </div>    
  <div class="row moblucerna">
      <div class="col-sm-1"></div>
      <div class="col stump_collection">
        <h4 [routerLink]="['/productlucerna']">Lucerna Collection<br><span>learn more <a [routerLink]="['/productlucerna']"><i class="material-icons">
          arrow_right_alt
          </i></a></span></h4>
          <img class="lucernaimg" src="../../../assets/images/products/lucerna.png" title="Lucerna Collection" [routerLink]="['/productlucerna']">
       
      <p>
        Lucerna highlights the beauty of the curve, reflected in the form and structure
        of each piece. Each piece has been inspired by the symmetry and harmony of the
        world around us - ranging from the mathematical formula for pi to ionic pillars
        in greek architecture as well as the weightlessness and brightness of Bali and
        tropical elements.
        </p>
    </div>
      <div class="col-sm-1"></div>
    </div>
  <div class="row" style="text-align: center;">
      <div class="col-sm-1"></div>
      <div class="col">
          <img style="padding-bottom: 2%; height: 141.77px;" src="../../../assets/images/products/pick.png" title="Pick" [routerLink]="['/productlucernapick']">
          <h4 style="margin-right: 0;" [routerLink]="['/productlucernapick']">Pick<br><span>learn more<a [routerLink]="['/productlucernapick']"><i class="material-icons">
            arrow_right_alt
            </i></a></span></h4>
        </div>
        <div class="col">
                <img style="height: 141.77px;" src="../../../assets/images/products/pie.png" title="Pie" [routerLink]="['/productlucernapie']">
                    <h4 style="margin-right: 0;" [routerLink]="['/productlucernapie']">Pie<br><span>learn more <a [routerLink]="['/productlucernapie']"><i class="material-icons">
                        arrow_right_alt
                        </i></a></span></h4>
        </div>
        <div class="col">
            <img style="padding-bottom: 2%; height: 141.77px;" src="../../../assets/images/products/obtuse.png" title="Obtuse" [routerLink]="['/productlucernaobtuse']">
            <h4 style="margin-right: 0;" [routerLink]="['/productlucernaobtuse']">Obtuse<br><span>learn more <a [routerLink]="['/productlucernaobtuse']"><i class="material-icons">
                arrow_right_alt
                </i></a></span></h4>
        </div>
        <div class="col">
            <img style="padding-bottom: 2%; height: 141.77px;" src="../../../assets/images/products/relica.png" title="Relica" [routerLink]="['/productlucernarelica']">
            <h4 style="margin-right: 0;" [routerLink]="['/productlucernarelica']">Relica<br><span>learn more <a [routerLink]="['/productlucernarelica']"><i class="material-icons">
                arrow_right_alt
                </i></a></span></h4>  
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row row_border"></div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
          <h4 style="margin-right: 0;" [routerLink]="['/corinthian']">Ratio Collection<br></h4></div>
        <div class="col-sm-4 center_flex">
          <img style="width: 100%;" src="../../../assets/images/products/The-Wall.png" title="The Wall" [routerLink]="['/thewall']">
        </div>
        <div class="col-sm-3" style="border-left: none;">
                <h4 style="margin-right: 0;" [routerLink]="['/thewall']">The Wall<br><span>learn more <a [routerLink]="['/thewall']"><i class="material-icons">
                        arrow_right_alt
                        </i></a></span></h4> 
          <p class="class_p" style="left: 0;">
                The Ratio Collection draws heavy inspiration from the classical orders of architecture
                devised in the Greek and Roman eras, which were first and foremost, the foundation for
                structure and construction, but also contained distinctive decorative elements. The name
                Ratio is a nod to the centrality of mathematics and proportion to the overall form,
                function and aesthetics of any design, as interpreted through architecture. By imbuing
                contemporary styles with a classical flourish, our masterpieces transcend time and space. 
          </p>
        </div>
      </div>
      <div class="row" style="text-align: center;">
        <div class="col-sm-1"></div>
          <div class="col">
              <img style="padding-bottom: 2%; height: 141.77px;" src="../../../assets/images/products/Ionic.png" title="Ionic" [routerLink]="['/ionic']">
              <h4 style="margin-right: 0;" [routerLink]="['/ionic']">Ionic<br><span>learn more<a [routerLink]="['/ionic']"><i class="material-icons">
                arrow_right_alt
                </i></a></span></h4>
            </div>
            <div class="col">
                    <img style="height: 141.77px;" src="../../../assets/images/products/Doric.png" title="Doric" [routerLink]="['/doric']">
                        <h4 style="margin-right: 0;" [routerLink]="['/doric']">Doric<br><span>learn more <a [routerLink]="['/doric']"><i class="material-icons">
                            arrow_right_alt
                            </i></a></span></h4>
            </div>
            <div class="col">
                <img style="height: 141.77px;" src="../../../assets/images/products/Ergos.png" title="Ergos" [routerLink]="['/ergos']">
                <h4 style="margin-right: 0;" [routerLink]="['/ergos']">Ergos<br><span>learn more <a [routerLink]="['/ergos']"><i class="material-icons">
                    arrow_right_alt
                    </i></a></span></h4>
            </div>
            <div class="col">
                <img style="height: 141.77px;" src="../../../assets/images/products/Corinthian.png" title="Corinthian" [routerLink]="['/corinthian']">
                <h4 style="margin-right: 0;" [routerLink]="['/corinthian']">Corinthian<br><span>learn more <a [routerLink]="['/corinthian']"><i class="material-icons">
                        arrow_right_alt
                        </i></a></span></h4>
            </div>
            <!--<div class="col">
                <img style="height: 141.77px;" src="../../../assets/images/productinside/pie 1.png" title="Ratio table" [routerLink]="['/ratiotable']">
                    <h4 style="margin-right: 0;" [routerLink]="['/ratiotable']">Ratio table<br><span>learn more <a [routerLink]="['/ratiotable']"><i class="material-icons">
                        arrow_right_alt
                        </i></a></span></h4>
        </div> -->
        <div class="col-sm-1"></div>
        </div>
    <div class="row row_border"></div>
  
    <div class="row deskbratus">
        <div class="col-sm-1"></div>
        <div class="col-sm-3 center_flex trigano_text" style="border-left: none;">
          <p class="class_p">
             The Bratus Collection reflects a close connection to nature, and represents the beauty
             of nature’s contradictions: the rough edges of wood found in nature, with the precise,
             sleek measurements and forms created by man. The medley of these apparent opposites has
             created a singular collection that provides a small taste of the wild indoors.</p>
        </div>
        <div class="col-sm-4 center_flex trigano_flex">
                <img style="padding-bottom: 2%; width: 100%;" [routerLink]="['/productbratus']" title="Bratus" src="../../../assets/images/products/brats2.png">
        </div>
        <div class="col-sm-3 bratus" style="display: flex;">
          <h4 [routerLink]="['/productbratus']">Bratus Collection<br><span>learn more <a [routerLink]="['/productbratus']"><i class="material-icons">
                arrow_right_alt
                </i></a></span></h4>
        </div>
        <div class="col-sm-1"></div>
      </div> 
      <div class="row mobbratus">
          <div class="col" style="border-left: none;">
              <h4 [routerLink]="['/productbratus']">Bratus Collection<br><span>learn more <a [routerLink]="['/productbratus']"><i class="material-icons">
                  arrow_right_alt
                  </i></a></span></h4>
                  <img style="padding-bottom: 2%; width: 100%;" [routerLink]="['/productbratus']" title="Bratus" src="../../../assets/images/products/brats2.png">
             <p>
                The Bratus Collection reflects a close connection to nature, and represents the beauty
                of nature’s contradictions: the rough edges of wood found in nature, with the precise,
                sleek measurements and forms created by man. The medley of these apparent opposites has
                created a singular collection that provides a small taste of the wild indoors.
              </p>
          </div>
      </div>
      <div class="row" style="text-align: center;">
            <div class="col-sm-1"></div>
            <div class="col-md-3 col-sm-12">
                    <img style="height: 141.77px;" src="../../../assets/images/products/trigono.png" title="Trigono" [routerLink]="['/productbratustrigono']">
              <h4 style="margin-right: 0;" [routerLink]="['/productbratustrigono']">Trigono<br><span>learn more <a [routerLink]="['/productbratustrigono']"><i class="material-icons">
                arrow_right_alt
                </i></a></span></h4>
            </div>
            <div class="col-md-3 col-sm-12">
                <img style="height: 141.77px;" src="../../../assets/images/products/robiechair.png" title="Robbie Chair" [routerLink]="['/productrobbiechair']">
                <h4 style="margin-right: 0;" [routerLink]="['/productrobbiechair']">Robbie Chair<br><span>learn more <a [routerLink]="['/productrobbiechair']"><i class="material-icons">
                        arrow_right_alt
                        </i></a></span></h4>
            </div>
            <div class="col-md-4 col-sm-12">
                <img class="arbor_img" style="padding-bottom: 2%; height: 141.77px;" [routerLink]="['/productbratusarbor']" title="Click here" src="../../../assets/images/products/arbor.png">
                <h4 style="margin-right: 0;" [routerLink]="['/productbratusarbor']">Arbor<br><span>learn more <a [routerLink]="['/productbratusarbor']"><i class="material-icons">
                    arrow_right_alt
                    </i></a></span></h4>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="row row_border"></div>
        <div class="row">
            <div class="col-sm-1"></div>

            <div class="col-sm-3">
              <h4 style="margin-right: 0;" [routerLink]="['/lilo']">Lilo Collection<br></h4>
            </div>
            <div class="col-sm-4 center_flex">
              <img style="width: 100%;" src="../../../assets/images/comingup/Lilo/Lilo/lilo.png" title="Lilo" [routerLink]="['/lilo']">
            </div>
            <div class="col-sm-3" style="border-left: none;">
                    <h4 style="margin-right: 0;" [routerLink]="['/lilo']">Lilo<br><span>learn more <a [routerLink]="['/Lilo']"><i class="material-icons">
                            arrow_right_alt
                            </i></a></span></h4> 
              <p class="class_p" style="left: 0;">
                    The Ratio Collection draws heavy inspiration from the classical orders of architecture
                    devised in the Greek and Roman eras, which were first and foremost, the foundation for
                    structure and construction, but also contained distinctive decorative elements. The name
                    Ratio is a nod to the centrality of mathematics and proportion to the overall form,
                    function and aesthetics of any design, as interpreted through architecture. By imbuing
                    contemporary styles with a classical flourish, our masterpieces transcend time and space. 
              </p>
            </div>
          </div>
          <div class="row" style="text-align: center;">
            <div class="col-sm-1"></div>
              <div class="col">
                  <img style="padding-bottom: 2%; height: 141.77px;" src="../../../assets/images/comingup/Lilo/Kagami/kagami.png" title="Kagami" [routerLink]="['/kagami']">
                  <h4 style="margin-right: 0;" [routerLink]="['/kagami']">Kagami<br><span>learn more<a [routerLink]="['/kagami']"><i class="material-icons">
                    arrow_right_alt
                    </i></a></span></h4>
                </div>
                <div class="col">
                        <img style="height: 141.77px;" src="../../../assets/images/comingup/Lilo/Neru/Neru.png" title="Neru" [routerLink]="['/neru']">
                            <h4 style="margin-right: 0;" [routerLink]="['/neru']">Neru<br><span>learn more <a [routerLink]="['/neru']"><i class="material-icons">
                                arrow_right_alt
                                </i></a></span></h4>
                </div>
                <div class="col">
                    <img style="height: 141.77px;" src="../../../assets/images/comingup/Lilo/Zo/zo.png" title="Zo" [routerLink]="['/zo']">
                    <h4 style="margin-right: 0;" [routerLink]="['/zo']">Zo<br><span>learn more <a [routerLink]="['/zo']"><i class="material-icons">
                        arrow_right_alt
                        </i></a></span></h4>
                </div>
                <!--<div class="col">
                    <img style="height: 141.77px;" src="../../../assets/images/productinside/pie 1.png" title="Ratio table" [routerLink]="['/ratiotable']">
                        <h4 style="margin-right: 0;" [routerLink]="['/ratiotable']">Ratio table<br><span>learn more <a [routerLink]="['/ratiotable']"><i class="material-icons">
                            arrow_right_alt
                            </i></a></span></h4>
            </div> -->
            <div class="col-sm-1"></div>
            </div>
            <div class="row row_border"></div>            
            <div class="row deskmensa">
              <div class="col-sm-1"></div>
              <div class="col stump_collection">
                <h4 style="margin-right: 0;" [routerLink]="['/mensa']">Mensa Collection<br><span>learn more <a [routerLink]="['/mensa']"><i class="material-icons">
                  arrow_right_alt
                  </i></a></span></h4>
               
              <p class="class_p stump_p" style="right: 0;">
                Lucerna highlights the beauty of the curve, reflected in the form and structure
                of each piece. Each piece has been inspired by the symmetry and harmony of the
                world around us - ranging from the mathematical formula for pi to ionic pillars
                in greek architecture as well as the weightlessness and brightness of Bali and
                tropical elements.
                </p>
            </div>
              <div class="col center_flex">
                <img class="mensaimg" src="../../../assets/images/comingup/Mensa/Mensa/Mensa.png" title="Mensa Collection" [routerLink]="['/mensa']">
              </div>
              <div class="col-sm-1"></div>
            </div>
            <div class="row mobmensa">
                <div class="col stump_collection">
                  <h4 [routerLink]="['/mensa']">Mensa Collection<br><span>learn more <a [routerLink]="['/mensa']"><i class="material-icons">
                    arrow_right_alt
                    </i></a></span></h4>
                    <img class="mensaimg" src="../../../assets/images/comingup/Mensa/Mensa/Mensa.png" title="Mensa Collection" [routerLink]="['/mensa']">
                <p>
                  Mensa is Latin for ‘table’ and the bold geometric designs in this
                  collection that is defined by flat surfaces is representative of
                  this. The Mensa collection is unassuming in its simplicity and
                  clarity, but is sure to be a stand out in any dining area. 
                </p>
              </div>
              </div>
            <div class="row" style="text-align: center;">
              <div class="col-sm-1"></div>
              <div class="col">
                      <img style="height: 141.77px;" src="../../../assets/images/comingup/Mensa/Chai table/chaitable.png" title="Chai Table" [routerLink]="['/chaitable']">
                <h4 style="margin-right: 0;" [routerLink]="['/chaitable']">Chai Table<br><span>learn more <a [routerLink]="['/chaitable']"><i class="material-icons">
                  arrow_right_alt
                  </i></a></span></h4>
              </div>
              <div class="col">
                  <img style="height: 141.77px;" src="../../../assets/images/comingup/Mensa/Cornula/Cornula.png" title="Cornula" [routerLink]="['/cornula']">
                  <h4 style="margin-right: 0;" [routerLink]="['/cornula']">Cornula<br><span>learn more <a [routerLink]="['/cornula']"><i class="material-icons">
                          arrow_right_alt
                          </i></a></span></h4>
              </div>
              <div class="col">
                  <img class="arbor_img" style="padding-bottom: 2%; height: 141.77px;" [routerLink]="['/roundcube']" title="Round Cube" src="../../../assets/images/comingup/Mensa/Round cube/roundcube.png">
                  <h4 style="margin-right: 0;" [routerLink]="['/roundcube']">Round Cube<br><span>learn more <a [routerLink]="['/roundcube']"><i class="material-icons">
                      arrow_right_alt
                      </i></a></span></h4>
              </div>
              <div class="col">
                <img class="arbor_img" style="padding-bottom: 2%; height: 141.77px;" [routerLink]="['/scoot']" title="Scoot" src="../../../assets/images/comingup/Mensa/Scoot/Scoot.png">
                <h4 style="margin-right: 0;" [routerLink]="['/scoot']">Scoot<br><span>learn more <a [routerLink]="['/scoot']"><i class="material-icons">
                    arrow_right_alt
                    </i></a></span></h4>
            </div>
            <div class="col">
              <img class="arbor_img" style="padding-bottom: 2%; height: 141.77px;" [routerLink]="['/shad']" title="Shad" src="../../../assets/images/comingup/Mensa/Shad/shad1.png">
              <h4 style="margin-right: 0;" [routerLink]="['/shad']">Shad<br><span>learn more <a [routerLink]="['/shad']"><i class="material-icons">
                  arrow_right_alt
                  </i></a></span></h4>
          </div>
          <div class="col">
            <img class="arbor_img" style="padding-bottom: 2%; height: 141.77px;" [routerLink]="['/stolica']" title="Stolica" src="../../../assets/images/comingup/Mensa/Stolica/stolica.png">
            <h4 style="margin-right: 0;" [routerLink]="['/stolica']">Stolica<br><span>learn more <a [routerLink]="['/stolica']"><i class="material-icons">
                arrow_right_alt
                </i></a></span></h4>
        </div>
              <div class="col-sm-1"></div>
          </div>
          <div class="row row_border"></div>
          <div class="row">
            <div class="col-sm-1"></div>

            <div class="col-sm-3">
              <h4 style="margin-right: 0;" [routerLink]="['/lilo']">Miscellaneous<br></h4>
            </div>
            <div class="col-sm-4 center_flex">
              <img style="width: 100%;" src="../../../assets/images/comingup/Miscellaneous/Architecture/Architecture.png" title="Architecture" [routerLink]="['/architecture']">
            </div>
            <div class="col-sm-3" style="border-left: none;">
                    <h4 style="margin-right: 0;" [routerLink]="['/architecture']">Architecture<br><span>learn more <a [routerLink]="['/architecture']"><i class="material-icons">
                            arrow_right_alt
                            </i></a></span></h4> 
              <p class="class_p" style="left: 0;">
                    The Ratio Collection draws heavy inspiration from the classical orders of architecture
                    devised in the Greek and Roman eras, which were first and foremost, the foundation for
                    structure and construction, but also contained distinctive decorative elements. The name
                    Ratio is a nod to the centrality of mathematics and proportion to the overall form,
                    function and aesthetics of any design, as interpreted through architecture. By imbuing
                    contemporary styles with a classical flourish, our masterpieces transcend time and space. 
              </p>
            </div>
          </div>
          <div class="row" style="text-align: center;">
            <div class="col-sm-1"></div>
              <div class="col">
                  <img style="padding-bottom: 2%; height: 141.77px;" src="../../../assets/images/comingup/Miscellaneous/Insula/Insula.png" title="Insula" [routerLink]="['/insula']">
                  <h4 style="margin-right: 0;" [routerLink]="['/insula']">Insula<br><span>learn more<a [routerLink]="['/insula']"><i class="material-icons">
                    arrow_right_alt
                    </i></a></span></h4>
                </div>
                <div class="col">
                        <img style="height: 141.77px;" src="../../../assets/images/comingup/Miscellaneous/Kreo/Kreo.png" title="Kreo" [routerLink]="['/kreo']">
                            <h4 style="margin-right: 0;" [routerLink]="['/kreo']">Kreo<br><span>learn more <a [routerLink]="['/kreo']"><i class="material-icons">
                                arrow_right_alt
                                </i></a></span></h4>
                </div>
                <div class="col">
                    <img style="height: 141.77px;" src="../../../assets/images/comingup/Miscellaneous/Louvre/Louvre.png" title="louvre" [routerLink]="['/louvre']">
                    <h4 style="margin-right: 0;" [routerLink]="['/louvre']">Louvre<br><span>learn more <a [routerLink]="['/louvre']"><i class="material-icons">
                        arrow_right_alt
                        </i></a></span></h4>
                </div>
                <div class="col">
                  <img style="height: 141.77px;" src="../../../assets/images/comingup/Miscellaneous/Queven/Queven.png" title="Queven" [routerLink]="['/queven']">
                  <h4 style="margin-right: 0;" [routerLink]="['/queven']">Queven<br><span>learn more <a [routerLink]="['/queven']"><i class="material-icons">
                      arrow_right_alt
                      </i></a></span></h4>
              </div>
            <div class="col-sm-1"></div>
            </div>
</div>