<img class="banner_img" src="../../../assets/images/homepage/Hero Image home.png">
<div class="container-fluid">
    <h2>Our <u>Products</u></h2>
  <div class="row">
      <div class="col-sm-4 col-md-2 col-lg-2">
          <img src="../../../assets/images/icon on home page.png">
      </div>
      <div class="col-sm-8 col-md-10 col-lg-10" style="margin-top:1%;">
          <p>We tell a story with each piece that balances form and fantasy, solidity and
             sophistication, tradition with transformation. Take your eye for a journey 
             over each curve, corner, edge and angle…</p>
      </div>
  </div>
  <div class="row" style="margin-top:5%; text-align: center;">
    <div class="col-sm-2">
      <h2>Lucerna</h2>
      <p style="display: flex; justify-content: center;">Learn More</p>
    </div>
    <div class="col-sm-2">
      <img src="../../../assets/images/products/lucerna.png">
    </div>
    <div class="col-sm-8" style="border-left: none;">
      <p style="position: absolute; bottom: 0;">
          Lucerna highlights the beauty of the curve, reflected in the form and structure
          of each piece. Each piece has been inspired by the symmetry and harmony of the
          world around us - ranging from the mathematical formula for pi to ionic pillars
          in greek architecture as well as the weightlessness and brightness of Bali and
          tropical elements.
      </p>
    </div>
  </div>
  <div class="row" style="text-align: center; padding-top: 13%;">
    <div class="col">
      <img src="../../../assets/images/products/pick.png">
    </div>
    <div class="col">
        <img src="../../../assets/images/products/obtuse.png">
    </div>
    <div class="col">
        <img src="../../../assets/images/products/relica.png">
      </div>
  </div>
  <div class="row" style="text-align: center; margin-top: 13%;">
    <div class="col-sm-8" style="border-left: none;">
      <p style="position: absolute; bottom: 0;">The Bratus Collection reflects a close connection to nature, and represents the beauty
         of nature’s contradictions: the rough edges of wood found in nature, with the precise,
         sleek measurements and forms created by man. The medley of these apparent opposites has
         created a singular collection that provides a small taste of the wild indoors.</p>
    </div>
    <div class="col-sm-2">
      <img src="../../../assets/images/products/bratus.png">
    </div>
    <div class="col-sm-2">
        <h2>Lucerna</h2>
        <p style="display: flex; justify-content: center;">Learn More</p>
    </div>
  </div>
</div>