<div class="container-fluid" style="padding: 0; position: relative;">  
  <img style="width: 100%;" src="../../../assets/images/comingup/Lilo/Kagami/Kagami-inside-black.jpg">
  <div class="banner_heading">
      <h4>Kagami<br><p style="margin-bottom: 0;">Material: Beech; </p>
        <p>Storage and display</p></h4>
  </div>
</div>

<div class="container-fluid" id="product_container">
<div class="row top_img">
  <div class="col-sm-2 col-xs-12"></div>
  <div class="col-sm-4 col-xs-12" style="text-align:center;">
    <img style="width: 90%" class="zoomed_image" src="{{mainimage}}">
  </div>
  <div class="col-sm-6 col-xs-12 pie">
    <h2 class="product_heading">Kagami<br><p style="margin-bottom: 0;">Material: Beech; </p>
       <p>Storage and display</p></h2>
  </div>
</div>


<div class="container-fluid" style="text-align:center;">
  <div class="row">
      <div class="col">
        <img style="width: 60%" src="{{image1}}" (click)="changeMainImage(image1_large)" title="click here">
      </div>
      <div class="col">
        <img style="width: 60%" src="{{image2}}" (click)="changeMainImage(image2_large)" title="click here">
      </div>
    </div>
</div>
<div class="container-fluid" style="padding-right: 0;">
<div class="row story" style="padding-top: 10%;">
    <div class="col-sm-1"></div>
  <div class="col">
      <h2>Story</h2>
      <p>Kagami is could be the piece you were always looking out for. Unlike the usual dressers,
         Kagami displays a style which is elegant in form and functional in design. Kagami is the
         Japanese term for mirror and so is the design typology.
      </p>
  </div>
  <div class="col col_story" style="padding-right: 0;">
    <img class="img_class" src="../../../assets/images/comingup/Lilo/Kagami/kagami-inside1.png">
  </div>
</div>
</div>
<div class="container-fluid" style="padding-left: 0;">
<div class="row deisgn">
  <div class="col col_story" style="padding-left: 0;">
    <img class="img_class" src="../../../assets/images/comingup/Lilo/Kagami/kagami-inside2.png">
  </div>
  <div class="col">
    <h2>Design</h2>
    <p>Kagami has a storage unit which rests on the crossings of the frames on either
       side making it look like it is afloat. One of the major attractions of the design
       is the slender mirror which provides enough space on the surface area for you to
       keep your daily necessities.
    </p>
  </div>
  <div class="col-sm-1"></div>
</div>
</div>
<div class="row similar_products" style="padding-top: 5%;">
    <div class="col-sm-1"></div>
    <div class="col-sm-10" style="font-size: 30px;"><h4>Similar Products</h4></div>
    <div class="col-sm-1"></div>
  </div>
<div class="row" style="text-align: center; padding-top: 2%; padding-bottom: 5%;">
    <div class="col-sm-1"></div>
    <div class="col">
        <img style="height: 141.77px; cursor: pointer;" class="bratus"  [routerLink]="['/neru']" title="Neru" src="../../../assets/images/comingup/Lilo/Neru/Neru.png">
                <h4 style="margin-right: 0; cursor: pointer;" [routerLink]="['/neru']">Neru<br><span>learn more <a [routerLink]="['/neru']"><i class="material-icons">
                    arrow_right_alt
                    </i></a></span></h4>          
      </div>
    <div class="col">
      <img style="height: 141.77px; cursor: pointer;" class="bratus"  [routerLink]="['/zo']" title="Zo" src="../../../assets/images/comingup/Lilo/Zo/zo.png">
              <h4 style="margin-right: 0; cursor: pointer;" [routerLink]="['/zo']">Zo<br><span>learn more <a [routerLink]="['/zo']"><i class="material-icons">
                  arrow_right_alt
                  </i></a></span></h4>           
    </div>
    <div class="col">
      <img style="height: 141.77px; cursor: pointer;" [routerLink]="['/lilo']" title="Lilo" src="../../../assets/images/comingup/Lilo/Lilo/lilo.png">
            <h4 style="margin-right: 0; cursor: pointer;" [routerLink]="['/lilo']">Lilo<br><span>learn more <a [routerLink]="['/lilo']"><i class="material-icons">
              arrow_right_alt
              </i></a></span></h4>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>