.container-fluid, .container{
    padding-top: 4%;
}
.container {
    text-align: center;
}
h2 {
    color: #c3c3c3;
    font-size: 30px;
}
.onscroll {
    background-color: white !important;
    transition: background-color 2s;
    p {
        color: #c3c3c3 !important;
    }
}
.onscroll_element {
    color: #c3c3c3;
    transition: background-color 2s;
    u {
        border-bottom: 1px solid #8f7d4f;
    }
}
.otherwise_element {
    color: #c3c3c3;
    transition: background-color 2s;
    u {
        border-bottom: 1px solid#c3c3c3;
    }
}
.otherwise {
    background-color: #141414 !important;
   transition: background-color 2s;
        p {
            color: #c3c3c3 !important;
        }
}
.product_heading {
    font-size: 40px;
}
.banner_heading {
    position: absolute;
    top: 30%;
    left: 51%;
    visibility: visible;
     h4 {
        color: #c3c3c3;
         p {
             color: #c3c3c3;
             font-size: 18px;
         }
     }
     
}

.top_img {
    visibility: hidden;
    display: none;
}
p {
    color: #c3c3c3;
    margin-bottom: 0rem;
}
h4 {
    color: #c3c3c3;
    font-size: 25px;
    outline: none;
}

span {
    font-size: 17px;
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
    cursor: pointer;
    a {
        color: #c3c3c3;
    }
    i {
        cursor: pointer;
    }
}
.pie {
    h2 {
        p {
            display: flex;
            left: 0;
            font-size: 16px;
        }
    }
}
/*
.zoomed_image {
    margin-top: -32%;
    margin-left: -14%;
}*/

.story {
    text-align: right;
   .col h2 {
       text-align: left;
       margin-top: 25%;
    }
   .col p {
        float: left;
        text-align: justify;
        margin-top: 1%;
        width: 100%;
    }
}

.deisgn {
    .col h2 {
        margin-top: 20%;
    }
    .col p {
        width: 100%;
        margin-top: 1%;
        text-align: justify;
    }
}


@media (max-width: 1024px) {
    .img_class {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .zoomed_image {
        width: 100%;
    }
    .banner_heading {
        top: 21%;
        right: 7%;
    }
    .banner_img {
        margin-top: 20%;
        margin-bottom: 20%;
    }
    .story {
        .col p {
             text-align: justify;
             width: 100%;
         }
         .col h2 {
             margin-top: 0;
         }
     }
}

@media (max-width: 678px) {
    .img_class {
        top: 12%;
        width: 100%;
    }
    .banner_heading {
        visibility: hidden;
    }
    .top_img {
        visibility: visible;
        display: flex;
    }
    .col_story {
        text-align: left;
    }
    .deisgn {
        .col p {
            width: 100%;
        }
    }
    p {
        font-size: 14px;
    }

    span {
        font-size: 14px;
    }
    h4 {
        font-size: 20px;
        line-height: 1.7;
    }
    .product_heading {
        font-size: 35px;
        display: none;
    }
    h2 {
        padding-top: 10%;
        font-size: 30px;
        line-height: 35px;
        text-align: left;
    }
    .similar_products {
        padding-top: 15% !important;
     }
    .pie {
        h2 {
            p {
                width: 100%;
                line-height: 1.5;
                text-align: justify;
                font-size: 14px;
            }   
        }
    }

 }
 @media (max-width: 414px) {
     .img_class {
         top: 2%
     }
     .banner_img {
        margin-top: 40%;
        margin-bottom: 40%;
    }
    .pie h2 p {
        width: 100%;
    }
    .zoomed_image {
        margin-top: 35%;
    }
}
 @media (max-width: 360px) {
    .product_heading {
        margin-top: -140%;
    }
    .zoomed_image {
        margin-top: 40%;
    }
    .deisgn {
        padding-bottom: 5%;
    }
 }
 @media (max-width: 320px) {
    .img_class {
        top: 17%;
    }
 }