<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div>
  <img class="banner_img banner">
<!--  <a class="class_a" [ngx-scroll-to]="'#destination'" style="color:white;"></a>
  <i [ngx-scroll-to]="'#destination'" class="material-icons">
    arrow_downward
    </i>
    -->
</div>
<div class="container-fluid" style="padding-top: 3%;">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col heading">
       <h2 style="padding-bottom: 1%;"><u>The Mallet</u></h2>
    </div>
    <div class="col-sm-1"></div>  
  </div>
<div class="row">
 <!-- <div class="col-sm-4 col-md-2 col-lg-2">
    <img src="../../../assets/images/icon on home page.png">
  </div>-->
  <div class="col-sm-1 col-md-1 col-lg-1"></div>
  <div class="col-sm-10 col-md-10 col-lg-10 column_border">
      <p>Bespoke furniture hewn from nature by master craftsmen to create pieces that speak 
        the language of international contemporary design. Each carefully curated form is imbued 
        with sophistication, stability and harmony. We meld together artistry and innovation by reimagining
        traditional techniques for the new-age connoisseur.
      </p>
      <p>
        The Mallet stands for responsible luxury. We believe in maintaining balance and unity in all things,
        including our design - not just in our finished product, but in our business ecosystem. 
        We source materials responsibly, and believe firmly in respecting our work, our people,
        our customers and the environment.
      </p>  
  </div>
  <div class="col-sm-1 col-md-1 col-lg-1"></div>
</div>
<!--<div class="row">
    <div class="col heading">
       <h2>Our <u>Story</u></h2>
    </div>   
</div>
<div class="row" style="padding-bottom: 10%;">
    <div class="col-md-2 col-sm-4">
      <img class="small_img" src="../../../assets/images/icon on home page.png">
    </div>
    <div class="col-md-10 col-sm-8 column_border">
        <p>The Mallet reflects the coming together of traditional woodworking craftsmanship
          with a modern sensibility and global design aesthetic. We seek to create unique,
          custom furniture for the Indian market, with an underlying grain of innovative
          design and impeccable skill. If you are looking for luxury decor combined with
          sustainability, and international design with quality local materials treated
          with care and skill, The Mallet is for you.  
        </p>
    </div>
  </div>-->
</div>
<div class="container-fluid row_chisel">
    <div class="row">
        <div class="col-sm-1 col-md-1 col-lg-1"></div>
        <div class="col">
            <img src="../../../assets/images/about/mallet tools.png">
        </div>
        <div class="col-sm-1 col-md-1 col-lg-1"></div>
    </div>
  <!-- <div class="row">
      <div class="col-sm-1"></div>
      <div class="col">
        <img src="../../../assets/images/remallet_footerandfavicon/chisel-2.png">
      </div>
      <div class="col">
          <img src="../../../assets/images/remallet_footerandfavicon/scrapper.png">
      </div>
      <div class="col">
        <img src="../../../assets/images/remallet_footerandfavicon/chisel.png">
      </div>
      <div class="col-sm-1"></div>
  </div>
  <div class="row" style="margin-top:0;">
      <div class="col-sm-1"></div>
      <div class="col">
        <img src="../../../assets/images/remallet_footerandfavicon/rotator.png">
      </div>
      <div class="col">
        <img src="../../../assets/images/remallet_footerandfavicon/hammer.png">
      </div>
      <div class="col">
        <img src="../../../assets/images/remallet_footerandfavicon/ruler.png">
      </div>
      <div class="col-sm-1"></div>
  </div>
  <div class="row" style="margin-top:0;">
      <div class="col-sm-1"></div>
      <div class="col">
        <img src="../../../assets/images/remallet_footerandfavicon/measure.png">
      </div>
      <div class="col">
        <img src="../../../assets/images/remallet_footerandfavicon/saw.png">
      </div>
      <div class="col">
        <img src="../../../assets/images/remallet_footerandfavicon/tape.png">
      </div>
      <div class="col-sm-1"></div>
  </div> -->
<!--
  <div class="row">
      <div class="col heading">
          <h2>Our <u>Products</u></h2>
      </div>   
  </div>
<div class="row"style="margin-top:4%;">
  <div class="col-sm-3"></div>
  <div class="col-sm-9" style="text-align:justify; margin-top:2%;">
<p>We tell a story with each piece that balances form and fantasy, solidity and sophistication,
   tradition with transformation. Take your eye for a journey over each curve, corner, edge and angle…
</p>
</div>
</div>
<div class="row" style="margin-top: 10%;">
    <div class="col-md-2 col-sm-2 col-xs-12">
<img class="small_img" src="../../../assets/images/icon on home page.png">
  
   </div>
    <div class="col-sm-10 column_border">
        <div class="row" style="margin-top:0;">
            <div class="col" style="border-left: none;">
              <img src="../../../assets/images/homepage/products/home page products 4.png">
            </div>
            <div class="col" style="border-left: none;">
              <img src="../../../assets/images/homepage/products/home page products 3.png">
            </div>
            <div class="col" style="border-left: none;">
              <img src="../../../assets/images/homepage/products/home page products 2.png">
            </div>
            <div class="col">
              <img src="../../../assets/images/homepage/products/home page products.png">
            </div>
        </div>
    </div>
  </div> -->
  </div>