<div class="container-fluid" style="padding: 0; position: relative;">  
    <img style="width: 100%;" src="../../../assets/images/productinside/wingcollection/wingchair/Wing-Chair-black-inside.jpg">
    <div class="banner_heading">
        <h4>Wing Chair<br><p style="margin-bottom: 0;">Material: Oak, Metal, Woven Cane</p>
          <p>Casual Seating Area; Study Area</p></h4>
    </div>
  </div>
<div class="container-fluid" id="product_container">
    <div class="row top_img">
      <div class="col-sm-2 col-xs-12"></div>
      <div class="col-sm-4 col-xs-12">
        <img style="width: 100%" class="zoomed_image" src="{{mainimage}}">
      </div>
      <div class="col-sm-6 col-xs-12 pie">
        <h2 class="product_heading">Wing Chair<br><p style="margin-bottom: 0;">Material: Oak, Metal, Woven Cane</p>
          <p>Casual Seating Area; Study Area</p></h2>
      </div>
    </div>
  
  
  <div class="container">
      <div class="row thumbnail">
          <div class="col">
            <img src="{{image1}}" style="width: 50%" (click)="changeMainImage(image1_large)" title="click here">
          </div>
          <div class="col">
            <img src="{{image2}}" style="width: 50%" (click)="changeMainImage(image2_large)" title="click here">
          </div>
          <div class="col">
              <img src="{{image3}}" style="width: 50%" (click)="changeMainImage(image3_large)" title="click here">
            </div>
            <div class="col">
                <img src="{{image4}}" style="width: 50%" (click)="changeMainImage(image4_large)" title="click here">
              </div>
        </div>
  </div>
    <div class="row story">
      <div class="col-sm-1"></div>
      <div class="col">
          <h2>Story</h2>
          <p>The foldable chair is a familiar yet timeless staple in India, and has taken
             many forms over the years. The Wing Chair draws on this heritage and plays
             with wood and metal for its structure, but uses woven cane to create the
             seating, a nod to its roots. The lightness in tone and material mirrors
             the other pieces of the Wing Collection, making it a chic addition to any
             room and a contemporary classic.
          </p>
      </div>
      <div class="col col_story" style="padding-right: 0;">
        <img class="img_class" src="../../../assets/images/productinside/wingcollection/wingchair/Wing-Chair 1.png">
      </div>
    </div>
    <div class="row deisgn">
      <div class="col col_story" style="padding-left: 0;">
        <img class="img_class" src="../../../assets/images/productinside/wingcollection/wingchair/Wing-Chair 2.png">
      </div>
      <div class="col">
        <h2>Design</h2>
        <p>The structure was created to mirror that of a traditional folding chair, with cane
           being an important reference to the original design. The chair folds with the help
           of a pivot and roller attached to the metal rib that slides in the channel grooved
           into the seat.
        </p>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <div class="row similar_products">
        <div class="col-sm-1"></div>
        <div class="col-sm-10"><h2>Similar Products</h2></div>
        <div class="col-sm-1"></div>
      </div>
    <div class="row" style="text-align: center; padding-bottom: 5%;">
      <div class="col-sm-1"></div>
      <div class="col">
        <img style="height: 141.77px;cursor: pointer;" [routerLink]="['/productwing']" title="Wing 1" src="../../../assets/images/productinside/wingcollection/Wing1/wing11.png">
                <h4 style="margin-right: 0;cursor: pointer;" [routerLink]="['/productwing']">Wing 1<br><span>learn more <a [routerLink]="['/productwing']"><i class="material-icons">
                  arrow_right_alt
                  </i></a></span></h4>
      </div>
      <div class="col">
          <img style="height: 141.77px;cursor: pointer;" [routerLink]="['/productwing2']" title="Wing 2" src="../../../assets/images/productinside/wingcollection/Wing2/Wing-2.png">
                <h4 style="margin-right: 0;cursor: pointer;" [routerLink]="['/productwing2']">Wing 2<br><span>learn more <a [routerLink]="['/productwing2']"><i class="material-icons">
                  arrow_right_alt
                  </i></a></span></h4>
        </div>
      <div class="col">
        <img style="height: 141.77px;cursor: pointer;" [routerLink]="['/productwingrack']" title="Rick-Rack" src="../../../assets/images/productinside/wingcollection/RickRack/Rick-Rack.png">
        <h4 style="margin-right: 0;cursor: pointer;" [routerLink]="['/productwingrack']">Rick-Rack<br><span>learn more <a [routerLink]="['/productwingrack']"><i class="material-icons">
            arrow_right_alt
            </i></a></span></h4>
      </div>
      <div class="col-sm-1"></div>
    </div>
  
  </div>