<div class="container-fluid" style="padding: 0; position: relative;">  
  <img style="width: 100%;" src="../../../assets/images/comingup/Miscellaneous/Architecture/architecture-inside-black.png">
  <div class="banner_heading">
      <h4>Louvre<br><p style="margin-bottom: 0;">Material: White Oak seat, cushioned cylindrical backrest, stainess steel structure; </p>
        <p>Single Seater </p></h4>
  </div>
</div>

<div class="container-fluid" id="product_container">
<div class="row top_img">
  <div class="col-sm-2 col-xs-12"></div>
  <div class="col-sm-4 col-xs-12" style="text-align:center;">
    <img style="width: 90%" class="zoomed_image" src="{{mainimage}}">
  </div>
  <div class="col-sm-6 col-xs-12 pie">
    <h2 class="product_heading">Louvre<br><p style="margin-bottom: 0;">Material: White Oak seat, cushioned cylindrical backrest, stainess steel structure; </p>
       <p>Single Seater </p></h2>
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col">
        <img style="width: 60%" src="{{image1}}" (click)="changeMainImage(image1_large)" title="click here">
      </div>
      <div class="col">
        <img style="width: 60%" src="{{image2}}" (click)="changeMainImage(image2_large)" title="click here">
      </div>
      <div class="col">
        <img style="width: 60%" src="{{image3}}" (click)="changeMainImage(image3_large)" title="click here">
      </div>
  </div>
</div>
<div class="container" style="padding-right: 0;">
<div class="row story" style="padding-top: 5%;">
  <div class="col-sm-1"></div>
  <div class="col-sm-5" style="padding-top: 10%;">
      <h2>Story</h2>
      <p>Inspired by the flutes of Ionic pillars in Greek architecture, infused with design
         elements from architecture in Bali, this eye-catching lighting accent has a contemporary,
         elegant yet simple design, with a tropical twist.
      </p>
  </div>
  <div class="col-sm-5 col_story" style="text-align: center;">
    <img class="img_class" src="../../../assets/images/comingup/Miscellaneous/Louvre/Louvre-inside1.png">
  </div>
  <div class="col-sm-1"></div>
</div>
</div>
<div class="container" style="padding-left: 0;">
 <div class="row deisgn" style="padding-top: 5%;">
  <div class="col-sm-1"></div>
  <div class="col-sm-5 col_story design_desk" style="text-align: center;">
    <img class="img_class design_img" src="../../../assets/images/comingup/Miscellaneous/Louvre/Louvre-inside1.png">
  </div>
  <div class="col-sm-5 design_text" style="padding-top: 10%;">
    <h2>Design</h2>
    <p>This piece was created by assembling tapered strips of beech with uniform gaps that exaggerate
      its verticality, based on precise drawings and design. We incorporated bluetooth operated
      lighting to ensure that unsightly wiring does not distract from the clean lines of the design.
    </p>
    <img class="design_mob" style="padding-top: 10%;width: 15%;margin: 0 auto;" 
            src="../../../assets/images/comingup/Miscellaneous/Louvre/Louvre-inside1.png">
  </div>
  <div class="col-sm-1"></div>
</div>
</div>
<div class="row similar_products" style="padding-top: 5%;">
    <div class="col-sm-1"></div>
    <div class="col-sm-10"><h2>Similar Products</h2></div>
    <div class="col-sm-1"></div>
  </div>
<div class="row" style="text-align: center; padding-top: 2%; padding: 5%;">
    <div class="col-sm-1"></div>
    <div class="col">
      <img style="height: 141.77px;" [routerLink]="['/queven']" title="Queven" src="../../../assets/images/comingup/Miscellaneous/Queven/Queven.png">
            <h4 style="margin-right: 0;" [routerLink]="['/queven']">Queven<br><span>learn more <a [routerLink]="['/queven']"><i class="material-icons">
              arrow_right_alt
              </i></a></span></h4>
    </div>
    <div class="col">
        <img style="height: 141.77px;" class="bratus"  [routerLink]="['/architecture']" title="Architecture" src="../../../assets/images/comingup/Miscellaneous/Architecture/Architecture.png">
                <h4 style="margin-right: 0;" [routerLink]="['/architecture']">Architecture<br><span>learn more <a [routerLink]="['/architecture']"><i class="material-icons">
                    arrow_right_alt
                    </i></a></span></h4>      
    </div>
    <div class="col">
      <img style="height: 141.77px;" class="bratus"  [routerLink]="['/insula']" title="Insula" src="../../../assets/images/comingup/Miscellaneous/Insula/Insula.png">
              <h4 style="margin-right: 0;" [routerLink]="['/insula']">Insula<br><span>learn more <a [routerLink]="['/insula']"><i class="material-icons">
                  arrow_right_alt
                  </i></a></span></h4>           
    </div>
    <div class="col">
      <img style="height: 141.77px;" [routerLink]="['/kreo']" title="Kreo" src="../../../assets/images/comingup/Miscellaneous/Kreo/Kreo.png">
            <h4 style="margin-right: 0;" [routerLink]="['/kreo']">Kreo<br><span>learn more <a [routerLink]="['/kreo']"><i class="material-icons">
              arrow_right_alt
              </i></a></span></h4>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>