<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="container-fluid" style="padding: 0; position: relative;">  
  <img style="width: 100%;" src="../../../assets/images/productinside/Ratiocollection/ergos/Ergos-inside-black.png">
  <div class="banner_heading">
      <h4>Ergos<br><p>Material: Beech, upholstery;</p><p>Casual Seating Area</p></h4>
  </div>
</div>
<div class="container-fluid">
  <div class="row top_img">
    <div class="col-sm-2 col-xs-12"></div>
    <div class="col-sm-4 col-xs-12">
      <img style="width: 90%" class="zoomed_image" src="{{mainimage}}">
    </div>
    <div class="col-sm-6 col-xs-12 pie">
      <h2 class="product_heading">Ergos<br><p>Material: Beech, upholstery;</p><p>Casual Seating Area</p></h2>
    </div>
  </div>


<div class="container">
    <div class="row">
        <div class="col">
          <img src="{{image1}}" style="width: 60%" (click)="changeMainImage(image1_large)">
        </div>
        <div class="col">
          <img src="{{image2}}" style="width: 60%" (click)="changeMainImage(image2_large)">
        </div>
        <div class="col">
          <img src="{{image3}}" style="width: 60%" (click)="changeMainImage(image3_large)">
        </div>
      </div>
</div>
  <div class="row story">
    <div class="col-sm-1"></div>
    <div class="col">
        <h2>Story</h2>
        <p>The Ergos is a standing chair, that envisions comfort and physical support in
           modern workspaces, but with a design that harks back to classical architecture.
           The solid curved form is a clear reference to the elements of classical Greco-Roman
           architecture, creating a sleek yet stand-out piece in any work setting. 
        </p>
    </div>
    <div class="col col_story" style="padding-right: 0; text-align: right;">
      <img class="img_class" src="../../../assets/images/productinside/Ratiocollection/ergos/Ergos 1.png">
    </div>
  </div>
</div>
<div class="container-fluid" style="padding: 0;">
  <div class="row deisgn">
    <div class="col col_story" style="padding-left: 0;">
      <img class="img_class" src="../../../assets/images/productinside/Ratiocollection/ergos/Ergos 2.png">
    </div>
    <div class="col">
      <h2>Design</h2>
      <p>As is evident in its name, the design of the standing chair is guided primarily
         by ergonomics, and the comfort and safety of its users. The curved form was
         created to ensure maximum support and comfort, while being a sturdy and
         aesthetically pleasing piece. 
      </p>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <br/><br/>
  <div class="row similarproducts">
      <div class="col-sm-1"></div>
      <div class="col">
          <h2>Similar Products</h2><br>
      </div>
      <div class="col-sm-1"></div>
    </div>
  <div class="row" style="text-align: center;">
    <div class="col-sm-1"></div>
      <div class="col-md-2 col-sm-12">
          <img style="height: 141.77px;" src="../../../assets/images/productinside/Ratiocollection/ionic/Ionic.png" title="Ionic" [routerLink]="['/ionic']">
          <h4 style="margin-right: 0;" [routerLink]="['/ionic']">Ionic<br><span>learn more <a [routerLink]="['/ionic']"><i class="material-icons">
            arrow_right_alt
            </i></a></span></h4>
      </div>
      <div class="col-md-3 col-sm-12">
        <img style="height: 141.77px;" src="../../../assets/images/productinside/Ratiocollection/corinthian/Corinthian.png" title="Corinthian" [routerLink]="['/corinthian']">
        <h4 style="margin-right: 0;" [routerLink]="['/corinthian']">Corinthian<br><span>learn more <a [routerLink]="['/corinthian']"><i class="material-icons">
          arrow_right_alt
          </i></a></span></h4>
      </div>
      <div class="col-md-2 col-sm-12">
        <img style="height: 141.77px;" src="../../../assets/images/productinside/Ratiocollection/doric/Doric.png" title="Doric" [routerLink]="['/doric']">
        <h4 style="margin-right: 0;" [routerLink]="['/doric']">Doric<br><span>learn more <a [routerLink]="['/doric']"><i class="material-icons">
            arrow_right_alt
            </i></a></span></h4>  
      </div>
      <div class="col-md-3 col-sm-12">
        <img style="height: 141.77px;" src="../../../assets/images/productinside/Ratiocollection/wall/The-Wall.png" title="The Wall" [routerLink]="['/thewall']">
        <h4 style="margin-right: 0;" [routerLink]="['/thewall']">The Wall<br><span>learn more <a [routerLink]="['/thewall']"><i class="material-icons">
            arrow_right_alt
            </i></a></span></h4>   
      </div>
     <!-- <div class="col-md-2 col-sm-12">
        <img style="height: 141.77px;" src="../../../assets/images/products/relica.png" title="Ratio table" [routerLink]="['/ratiotable']">
        <h4 style="margin-right: 0;" [routerLink]="['/ratiotable']">Ratio table<br><span>learn more <a [routerLink]="['/ratiotable']"><i class="material-icons">
            arrow_right_alt
            </i></a></span></h4>  
    </div> -->
    <div class="col-sm-1"></div>
    </div>
</div>