.container-fluid, .container{
    padding-top: 4%;
  //  padding-bottom: 10%;
}
.container {
    text-align: center;
}
h2 {
    color: #c3c3c3;
    font-size: 30px;
}
.onscroll {
    background-color: white !important;
    transition: background-color 2s;
    p {
        color: #c3c3c3 !important;
    }
}
.onscroll_element {
    color: #8f7d4f;
    transition: background-color 2s;
    u {
        border-bottom: 1px solid #8f7d4f;
    }
}
.otherwise_element {
    color: #c3c3c3;
    transition: background-color 2s;
    u {
        border-bottom: 1px solid#c3c3c3;
    }
}
.otherwise {
    background-color: #141414 !important;
   transition: background-color 2s;
        p {
            color: #8f7d4f !important;
        }
}
.product_heading {
    font-size: 40px;
}

.banner_heading {
    position: absolute;
    top: 30%;
    left: 35%;
    visibility: visible;
     h4 {
        color: #c3c3c3;
         p {
             color: #c3c3c3;
             font-size: 18px;
         }
     }
}

.top_img {
    visibility: hidden;
    display: none;
}

h4 {
    color: #c3c3c3;
    font-size: 25px;
    outline: none;
}
span {
    font-size: 17px;
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
    cursor: pointer;
    a {
        color: #c3c3c3;
    }
    i {
        cursor: pointer;
    }
}

p {
    color: #c3c3c3;
    margin-bottom: 0rem;
}
.pie {
    h2 {
        p {
            display: flex;
            left: 0;
            font-size: 16px;
        }
    }
}
/*
.zoomed_image {
    margin-top: -32%;
    margin-left: -14%;
}*/

.story {
    text-align: right;
   .col h2 {
       text-align: left;
       margin-top: 25%;
    }
   .col p {
        float: left;
        text-align: justify;
        margin-top: 1%;
        width: 100%;
    }
}

.deisgn {
    .col h2 {
        margin-top: 20%;
    }
    .col p {
        width: 100%;
        margin-top: 1%;
        text-align: justify;
    }
}

.banner_img {
    margin-top: 10%;
    margin-bottom: 10%;
}

.one, .two {
    text-align: center;
}    


@media (max-width: 1024px) {
    h2 {
        font-size: 46px;
    }
    .product_heading {
        font-size: 46px;
    }
    p {
        text-align: justify;
    }
    
    .col_story {
        text-align: center;
    }
    .banner_heading {
        top: 20%;
        right: 27%;
    }
}

@media (max-width: 768px) {
    .zoomed_image {
        width: 100%;
    }
    .banner_img {
        margin-top: 20%;
        margin-bottom: 20%;
    }
    .one {
        text-align: left;
    }
    .two {
        text-align: right;
    }  
    .banner_heading {
        top: 23%;
        right: 10%;
    }  
}

@media (max-width: 670px) {
    .img_class {
        position: absolute;
        top: 25%;
        width: 80%;
    }
    .banner_heading {
        visibility: hidden;
    }
    .top_img {
        visibility: visible;
        display: flex;
    }
    .deisgn {
        padding-bottom: 20%
    }
    p {
        font-size: 14px;
    }
    .col_story {
        text-align: left;
    }
    .deisgn {
        .col p {
            width: 100%;
        }
    }

    .story {
       .col p {
            text-align: justify;
            width: 100%;
        }
    }
    span {
        font-size: 14px;
    }
    h4 {
        font-size: 20px;
        line-height: 1.7;
    }
    .product_heading {
        font-size: 35px;
        display: none;
    }
    h2 {
        font-size: 30px;
        line-height: 35px;
        text-align: left;
    }
    .pie {
        h2 {
            p {
                width: 100%;
                line-height: 1.5;
                text-align: justify;
                font-size: 14px;
            }   
        }
    }

 }

 @media (max-width: 414px) {
    .deisgn {
        padding-bottom: 35%
    }
    .img_class {
        top: 23%;
    }
    .similar_products {
       padding-top: 18% !important;
       padding-bottom: 5%;
    }
    .banner_img {
       margin-top: 40%;
       margin-bottom: 40%;
   }
   .pie h2 p {
       width: 100%;
   }
   .zoomed_image {
       margin-top: 35%;
   }
}

 @media (max-width: 360px) {
    .product_heading {
        margin-top: -125%;
    }
    .zoomed_image {
        margin-top: 25%;
    }
 }