.container-fluid, .container{
    padding-top: 4%;
//    padding-bottom: 10%;
}
.container {
    text-align: center;
}
h2 {
    color: #c3c3c3;
    font-size: 30px;
}
.banner {
    content: url('../../../assets/images/productinside/lucernacollection/Obtuse/Obtusecentre.jpg');
    width: 100%;;
}
.onscroll {
    background-color: white !important;
    transition: background-color 2s;
    p {
        color: #c3c3c3 !important;
    }
}
.onscroll_element {
    color: #c3c3c3;
    transition: background-color 2s;
    u {
        border-bottom: 1px solid #c3c3c3;
    }
}
.otherwise_element {
    color: #c3c3c3;
    transition: background-color 2s;
    u {
        border-bottom: 1px solid#c3c3c3;
    }
}
.otherwise {
    background-color: #141414 !important;
   transition: background-color 2s;
        p {
            color: #c3c3c3 !important;
        }
}
h4 {
    color: #c3c3c3;
    font-size: 25px;
    outline: none;
}
.product_heading {
    font-size: 40px;
}
.banner_heading {
    position: absolute;
    top: 30%;
    left: 51%;
    visibility: visible;
     h4 {
         color: #c3c3c3;
         p {
             font-size: 18px;
             color: #c3c3c3;
         }
     }
}

.top_img {
    visibility: hidden;
    display: none;
}
span {
    font-size: 17px;
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
    cursor: pointer;
    a {
        color: #c3c3c3;
    }
    i {
        cursor: pointer;
    }
}
p {
    color: #c3c3c3;
    margin-bottom: 0rem;
}
.pie {
    h2 {
        p {
            display: flex;
            left: 0;
            font-size: 16px;
        }
    }
}

.story {
    text-align: right;
   .col h2 {
       text-align: left;
       margin-top: 25%;
    }
   .col p {
        float: left;
        text-align: justify;
        margin-top: 1%;
        width: 80%;
    }
}

.deisgn {
    .col h2 {
        margin-top: 20%;
    }
    .col p {
        width: 100%;
        margin-top: 1%;
        text-align: justify;
    }
}

.banner_img {
    margin-top: 10%;
    margin-bottom: 10%;
}

@media (max-width: 1024px) {
    h2 {
        font-size: 46px;
    }
    .product_heading {
        font-size: 46px;
    }
    p {
        font-size: 30px;
        text-align: justify;
    }
    .similarproducts {
        padding-top: 10%;
    }
    .pie h2 p {
        font-size: 24px;
    }
    .banner_img {
        margin-top: 20%;
        margin-bottom: 20%;
    }
}

@media (max-width: 768px) {
    .banner {
        content: url('../../../assets/images/mobile_banners/mobile-Obtusecentre.jpg');
        width: 100%;;
    }
    .banner_img {
         margin-top: 0;
         margin-bottom: 0;
    }
    .zoomed_image {
        width: 100%;
    }
    .product_heading {
        font-size: 35px;
    } 
    .product_heading {
        font-size: 40px;
    }
    h2 {
        font-size: 40px;
    }
    p {
        font-size: 20px;
        text-align: justify;
    }
    .pie h2 p {
        font-size: 20px;
    }
    .img_class {
        width: 100%;
    }  
}

@media (max-width: 678px) {
    .img_class {
        position: absolute;
        top: 20%;
        width: 100%;
    }
    .banner_heading {
        visibility: hidden;
    }
    .top_img {
        visibility: visible;
        display: flex;
    }
    
    .col_story {
        text-align: left;
    }
    .deisgn {
        .col p {
            width: 100%;
        }
    }
    p {
        font-size: 14px;
        text-align: justify;
    }
    .story {
       .col p {
            text-align: justify;
            width: 100%;
        }
    }
    span {
        font-size: 14px;
    }
    h4 {
        font-size: 20px;
        line-height: 1.7;
    }
    .product_heading {
        font-size: 35px;
        padding-left: 10%;
        display: none;
    }
    h2 {
        padding-top: 10%;
        font-size: 30px;
        line-height: 35px;
        text-align: left;
    }
    .pie {
        h2 {
            p {
                width: 100%;
                line-height: 1.5;
                text-align: justify;
                font-size: 14px;
            }   
        }
    }
 }
  
 @media (max-width: 414px) {
    .img_class {
        top: 20%
    }
    .similarproducts {
       padding-bottom: 5%;

       .col h2 {
           padding-left: 10%;
       }
    }
   .pie h2 p {
       width: 100%;
   }
   .design_text {
    margin-top: -84%;
    }
    .design_img {
        top: 50%;
    }
    .deisgn {
        padding-bottom: 29%;
    }
}
@media (max-width: 360px) {
   .product_heading {
       margin-top: -140%;
   }
   .deisgn {
    padding-bottom: 0;
   }
}

@media (max-width: 320px) {
    .design_img {
        top: 70%;
    }
    .product_heading {
        font-size: 30px;
    }
 }