<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="container-fluid" style="padding: 0; position: relative;">  
  <img style="width: 100%;" src="../../../assets/images/productinside/lucernacollection/Obtuse/Obtusecentre.png">
  <div class="banner_heading">
      <h4>Obtuse<br><p>Material: Beech</p><p>Casual Seating Area; Tables and Stands;</p></h4>
  </div>
</div>
<div class="container-fluid" id="product_container">
  <div class="row top_img">
    <div class="col-sm-2 col-xs-12"></div>
    <div class="col-sm-4 col-xs-12" style="text-align: center;">
      <img style="width: 90%" class="zoomed_image" src="{{mainimage}}">
    </div>
    <div class="col-sm-6 col-xs-12 pie">
      <h2 class="product_heading">Obtuse<br><p>Material: Beech</p><p>Casual Seating Area; Tables and Stands;</p></h2>
    </div>
  </div>


<div class="container">
    <div class="row">
        <div class="col">
          <img src="{{image1}}" style="width: 60%" (click)="changeMainImage(image1_large)">
        </div>
        <div class="col">
          <img src="{{image2}}" style="width: 60%" (click)="changeMainImage(image2_large)">
        </div>
        <div class="col">
          <img src="{{image3}}" style="width: 60%" (click)="changeMainImage(image3_large)">
        </div>
      </div>
</div>
  <div class="row story">
    <div class="col-sm-1"></div>
    <div class="col">
        <h2>Story</h2>
        <p>This side stand has a simple, solid design that evokes the square. The sharp features and
           angles of the piece accentuate the simplicity of the lines and form. As the name indicates,
           Obtuse highlights a single angle mirrored on both sides, presenting a beautiful symmetry,
           while also providing stability.
        </p>
    </div>
    <div class="col col_story" style="padding-right: 0;">
      <img class="img_class" src="../../../assets/images/productinside/lucernacollection/Obtuse/Obtuseinside1.png">
    </div>
  </div>
  <div class="row deisgn">
    <div class="col col_story">
      <img class="img_class" src="../../../assets/images/productinside/lucernacollection/Obtuse/Obtuseinside2.png">
    </div>
    <div class="col">
      <h2>Design</h2>
      <p>One of the main challenges in taking this piece from concept to form was in creating the angle
         of the vertical elements, which adds a layer of complexity to the joinery holding up the entire
         structure. 
      </p>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <br/><br/>
  <div class="row similarproducts">
      <div class="col-sm-1"></div>
      <div class="col">
          <h2>Similar Products</h2><br>
      </div>
      <div class="col-sm-1"></div>
    </div>
  <div class="row" style="text-align: center; padding-bottom: 5%;">
      <div class="col-md-3 col-sm-12">
          <img style="height: 141.77px;" src="../../../assets/images/products/lucerna.png" title="Lucerna Collection" [routerLink]="['/productlucerna']">
          <h4 style="margin-right: 0;" [routerLink]="['/productlucerna']">Lucerna<br><span>learn more <a [routerLink]="['/productlucerna']"><i class="material-icons">
            arrow_right_alt
            </i></a></span></h4>
      </div>
      <div class="col-md-3 col-sm-12">
          <img style="height: 141.77px;" src="../../../assets/images/products/pick.png" title="Pick Collection" [routerLink]="['/productlucernapick']">
          <h4 style="margin-right: 0;" [routerLink]="['/productlucernapick']">Pick<br><span>learn more <a [routerLink]="['/productlucernapick']"><i class="material-icons">
            arrow_right_alt
            </i></a></span></h4>
      </div>
      <div class="col-md-3 col-sm-12">
          <img style="height: 141.77px;" src="../../../assets/images/products/relica.png" title="Relica Collection" [routerLink]="['/productlucernarelica']">
          <h4 style="margin-right: 0;" [routerLink]="['/productlucernarelica']">Relica<br><span>learn more <a [routerLink]="['/productlucernarelica']"><i class="material-icons">
              arrow_right_alt
              </i></a></span></h4>  
      </div>
      <div class="col-md-3 col-sm-12">
          <img style="height: 141.77px;" src="../../../assets/images/productinside/pie 1.png" title="Pie" [routerLink]="['/productlucernapie']">
              <h4 style="margin-right: 0;" [routerLink]="['/productlucernapie']">Pie<br><span>learn more <a [routerLink]="['/productlucernaobtuse']"><i class="material-icons">
                  arrow_right_alt
                  </i></a></span></h4>
      </div>
    </div>
</div>