@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css');

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 10px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #2f3838;
}


img {
  outline: none;
}

  body {
    font-family: 'Roboto', sans-serif;
  }

  h2, h4, h3, ul.menu-items li {
    font-family: 'Montserrat', sans-serif;
  }

  p {
    font-family: 'Roboto', sans-serif;
  }

  u {
      text-decoration: none;
      border-bottom: 1px solid #c3c3c3;
  }

  .banner_img {
    width: 100%;
  }
  h2 {
    font-size: 40px !important;
  }
  p {
    font-size: 16px !important;
  }
  h4 {
    font-size: 25px !important;
  }

  @media(max-width: 678px) {
    h2 {
      font-size: 30px !important;
    }
    p {
      font-size: 14px !important;
    }
  }