@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css');

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 10px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #2f3838;
}
.container-fluid, .container{
  padding-left: 0;
  padding-right: 0;
}

  body {
    font-family: 'Playfair Display', sans-serif;
  }

  h2, h4, h3, ul.menu-items li {
    font-family: 'Montserrat', sans-serif;
  }

  p {
    font-family: 'Roboto', sans-serif;
  }

  u {
      text-decoration: none;
      border-bottom: 1px solid #8f7d4f;
  }

  .banner_img {
    width: 100%;
  }