<div class="container-fluid" style="padding: 0; position: relative;">  
    <img style="width: 100%;" src="../../../assets/images/productinside/stumpcollection/Stump table/stump-tablecentre.png">
    <div class="banner_heading">
        <h4>The Stump Table<br><p style="margin-bottom: 0;">Material: Cemented white oak </p>
          <p>Casual Seating Area; Tables and Stands </p></h4>
    </div>
  </div>
<div class="container-fluid">
    <div class="row top_img">
      <div class="col-sm-2 col-xs-12"></div>
      <div class="col-sm-4 col-xs-12">
        <img style="width: 90%" class="zoomed_image" src="{{mainimage}}">
      </div>
      <div class="col-sm-6 col-xs-12 pie">
        <h2 class="product_heading">The Stump Table<br><p style="margin-bottom: 0;">Material: Cemented white oak </p>
           <p>Casual Seating Area; Tables and Stands </p></h2>
      </div>
    </div>
  
  <div class="container">
      <div class="row">
          <div class="col">
            <img style="width: 60%" src="{{image1}}" (click)="changeMainImage(image1_large)" title="click here">
          </div>
          <div class="col">
            <img style="width: 60%" src="{{image2}}" (click)="changeMainImage(image2_large)" title="click here">
          </div>
          <div class="col">
            <img style="width: 60%" src="{{image3}}" (click)="changeMainImage(image3_large)" title="click here">
          </div>
          <div class="col">
            <img style="width: 60%" src="{{image4}}" (click)="changeMainImage(image4_large)" title="click here">
          </div>
        </div>
  </div>
    <div class="row story">
        <div class="col-sm-1"></div>
      <div class="col">
          <h2>Story</h2>
          <p>The masterpiece of the collection, it comprises four solid columns that resemble
             beautifully layered ancient tree trunks that form the base for a perfectly rectangular
             flat table top. The complex patterns and grains of each column is balanced by the
             simple lines of the tabletop and overall shape of the table. This unorthodox piece
             will definitely be a talking point in any shared space, with its solidity and
             assertiveness. </p>
      </div>
      <div class="col col_story" style="padding-right: 0;">
        <img class="img_class" src="../../../assets/images/productinside/stumpcollection/Stump table/stump-tableinside1.png">
      </div>
    </div>
</div>
<div class="container-fluid" style="padding: 0;">
    <div class="row deisgn">
      <div class="col col_story">
        <img class="img_class" src="../../../assets/images/productinside/stumpcollection/Stump table/stump-tableinside2.png">
      </div>
      <div class="col">
        <h2>Design</h2>
        <p>The Stump Table represents our interpretation of the organic form of a tree stump.
           A parametric digitally created shape forms the base of the unit, topped by a pure
           rectangular flat table surface. This piece is the quintessential example of Mallet’s
           creativity in furniture design, from conceptualization through to technique in execution
           and finish.</p>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <div class="row similarproducts">
        <div class="col-sm-1"></div>
        <div class="col">
            <h2>Similar Products</h2><br>
        </div>
        <div class="col-sm-1"></div>
      </div>
    <div class="row" style="text-align: center; padding-bottom: 5%;">
        <div class="col-sm-1"></div>
        <div class="col-md-5 col-sm-12">
            <img style="height: 141.77px;" src="../../../assets/images/productinside/stumpcollection/airshelf/air-shelf 1.png" title="Air-shelf" [routerLink]="['/productstumpshelf']">
            <h4 style="margin-right: 0;" [routerLink]="['/productstumpshelf']">Air-shelf<br><span>learn more <a [routerLink]="['/productstumpshelf']"><i class="material-icons">
              arrow_right_alt
              </i></a></span></h4>
        </div>
        <div class="col-md-5 col-sm-12">
            <img style="height: 141.77px;" src="../../../assets/images/productinside/stumpcollection/robbiesofa/robbie-sofa.png" title="Robbie Sofa" [routerLink]="['/productstumpsofa']">
            <h4 style="margin-right: 0;" [routerLink]="['/productstumpsofa']">Robbie Sofa<br><span>learn more <a [routerLink]="['/productstumpsofa']"><i class="material-icons">
              arrow_right_alt
              </i></a></span></h4>
        </div>
        <div class="col-sm-1"></div>
      </div>
  
  </div>