<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 col-xs-12"></div>
    <div class="col-sm-4 col-xs-12">
      <img class="zoomed_image" style="width: 90%" src="{{mainimage}}">
    </div>
    <div class="col-sm-6 col-xs-12 pie">
      <h2 class="product_heading">Relica<br><p>Material: Beech</p><p>Casual Seating Area; Chairs and Benches</p></h2>
    </div>
  </div>


<div class="container">
    <div class="row">
        <div class="col">
          <img src="{{image1}}" style="width: 60%" (click)="changeMainImage(image1_large)" title="click here">
        </div>
        <div class="col">
          <img src="{{image2}}" style="width: 60%" (click)="changeMainImage(image2_large)" title="click here">
        </div>
        <div class="col">
          <img src="{{image3}}" style="width: 60%" (click)="changeMainImage(image3_large)" title="click here">
        </div>
      </div>
</div>
  <div class="row story">
    <div class="col-sm-1"></div>
    <div class="col">
        <h2>Story</h2>
        <p>A contemporary take on the age-old easy chair, reinterpreted through the lens of geometrical
           minimalism. The two right angles fused together form the structure that holds the chair
           together, in a stable position. The chair has removable fabric, making it easy to wash.
           The Relica is versatile and comfortable enough to be used as a day-bed, and is also the
           ideal spot for long hours daydreaming.  
        </p>
    </div>
    <div class="col col_story">
      <img class="img_class" src="../../../assets/images/productinside/lucernacollection/Relica/Relicainside1.png">
    </div>
  </div>
  <img class="banner_img" src="../../../assets/images/productinside/lucernacollection/Relica/Relicacentre.png">
  <br>
  <div class="row deisgn">
    <div class="col col_story">
      <img class="img_class" src="../../../assets/images/productinside/lucernacollection/Relica/Relicainside2.png">
    </div>
    <div class="col">
      <h2>Design</h2>
      <p>This design originated from a single line drawing. We then fleshed out the form in 3D,
         working out the specifics of structural load transfer and the constraints of joinery.
         This piece also reflects smart use of jigs and templates to create curves and tangents,
         and effective use of machines; overall, the Pie Sectional is not only beautiful, but also
         an effective and productive piece of furniture.
        </p>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <br/><br/>
  <div class="row similarproducts">
      <div class="col-sm-1"></div>
      <div class="col">
          <h2>Similar Products</h2><br>
      </div>
      <div class="col-sm-1"></div>
    </div>
  <div class="row" style="text-align: center;">
      <div class="col-sm-1"></div>
      <div class="col">
          <img style="height: 141.77px;" src="../../../assets/images/products/lucerna.png" title="Lucerna Collection" [routerLink]="['/productlucerna']">
          <h4 style="margin-right: 0;" [routerLink]="['/productlucerna']">Lucerna<br><span>learn more <a [routerLink]="['/productlucerna']"><i class="material-icons">
            arrow_right_alt
            </i></a></span></h4>
      </div>
      <div class="col">
          <img style="height: 141.77px;" src="../../../assets/images/products/pick.png" title="Pick Collection" [routerLink]="['/productlucernapick']">
          <h4 style="margin-right: 0;" [routerLink]="['/productlucernapick']">Pick<br><span>learn more <a [routerLink]="['/productlucernapick']"><i class="material-icons">
            arrow_right_alt
            </i></a></span></h4>
      </div>
      <div class="col">
          <img style="height: 141.77px;" src="../../../assets/images/products/obtuse.png" title="Obtuse Collection" [routerLink]="['/productlucernaobtuse']">
          <h4 style="margin-right: 0;" [routerLink]="['/productlucernaobtuse']">Obtuse<br><span>learn more <a [routerLink]="['/productlucernaobtuse']"><i class="material-icons">
              arrow_right_alt
              </i></a></span></h4> 
      </div>
      <div class="col-sm-1"></div>
    </div>
</div>