<div class="container-fluid" style="border-top: 0.5px solid #c3c3c3;">
  <div class="row" style="padding-left: 0; padding-right: 0;">
    <div class="col-sm-1"></div>
    <div class="col-sm-2">
      <img [routerLink]="['/home']" style="width: 50%; margin-top: 1%;" class="logo_img" src="../../../assets/The-Mallet_logo_gold.png">
    </div>
    <div class="col-md-8 col-sm-8">
      <div class="row">
        <div class="col-12 col-sm-3"><h4>In association with: </h4></div>
        <div class="col">
          <img class="association_img" style="width: 50% ; margin-top: 3%;" src="../../../assets/association/Magniflex.png">
        </div>
        <div class="col">
          <img class="association_img" style="width: 60%; margin-top: 3%" src="../../../assets/association/Wood-and-Metal.png">
        </div> 
      </div>
    </div> 
  </div>
</div>