h4 {
    position: absolute;
    font-size: 16px !important;
    color: #c3c3c3;
    top: 45%;
    left: 0;
}

.bent {
    margin-top: 12%;
}

@media (max-width: 1024px) {
    h4 {
        right: 0;
    }
}
@media (max-width: 768px) {
    h4 {
        font-size: 12px !important;
    }
}

@media (max-width: 678px) {
    h4 {
        position: relative !important;
        font-size: 14px !important;
        text-align: center;
        top: 45%;
    } 
    .col-sm-2 {
        text-align: center !important;
    }
    .association_img {
        width: 100% !important;
    }
    .logo_img {
        width: 30% !important;
    }
    .bent {
        width: 73% !important;
        margin-top: 15%;
    }
    .row {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .col-sm-5 {
        h4 {
            text-align: center;
            padding-top: 3%;
        }
    }
}