<div class="container-fluid" style="border-top: 0.5px solid #8f7d4f;">
  <div class="row" style="padding-left: 5%; padding-right: 5%;">
    <div class="col">
      <img [routerLink]="['/home']" style="width: 50%; margin-top: 1%;" class="logo_img" src="../../../assets/The-Mallet_logo_gold.png">
    </div>
    <div class="col-md-2 col-sm-3"><h4>In association with: </h4></div>
    <div class="col">
      <img class="association_img" style="width: 70% ; margin-top: 6%;" src="../../../assets/association/Magniflex.png">
    </div>
    <div class="col">
      <img class="association_img" style="width: 80%; margin-top: 6%" src="../../../assets/association/Wood-and-Metal.png">
    </div>
    <div class="col">
      <img class="association_img bent" style="width: 54%;" src="../../../assets/association/Bent-chair.png">
    </div>    
  </div>
</div>