<div class="container-fluid" style="padding: 0; position: relative;">  
  <img style="width: 100%;" src="../../../assets/images/comingup/Mensa/Chai table/chaitable-inside-black.jpg">
  <div class="banner_heading">
      <h4>Chai Table<br><p style="margin-bottom: 0;">Material: Beech ;</p>
        <p>Casual seating area</p></h4>
  </div>
</div>

<div class="container-fluid" id="product_container">
<div class="row top_img">
  <div class="col-sm-2 col-xs-12"></div>
  <div class="col-sm-4 col-xs-12" style="text-align:center;">
    <img style="width: 90%" class="zoomed_image" src="{{mainimage}}">
  </div>
  <div class="col-sm-6 col-xs-12 pie">
    <h2 class="product_heading">Chai Table<br><p style="margin-bottom: 0;">Material: Beech ;</p>
       <p>Casual seating area</p></h2>
  </div>
</div>


<div class="container">
  <div class="row">
      <div class="col">
        <img style="width: 60%" src="{{image1}}" (click)="changeMainImage(image1_large)" title="click here">
      </div>
      <div class="col">
        <img style="width: 60%" src="{{image2}}" (click)="changeMainImage(image2_large)" title="click here">
      </div>
      <div class="col">
        <img style="width: 60%" src="{{image3}}" (click)="changeMainImage(image3_large)" title="click here">
      </div>
    </div>
</div>
<div class="row story" style="padding-top: 10%;">
    <div class="col-sm-1"></div>
  <div class="col">
      <h2>Story</h2>
      <p>The Chai table highlights the stark simplicity of the Mensa collection,
         which highlights and draws focus to the smooth horizontal surface of the
         table. Stripping away the design to its very core, the Chai table is an
         elegant and unobtrusive addition to any living or dining space, making
         sure that the focus is on what matters - the conversation!
      </p>
  </div>
  <div class="col col_story" style="padding-right: 0;">
    <img class="img_class" src="../../../assets/images/comingup/Mensa/Chai table/chaitable-inside1.png">
  </div>
</div>
<div class="row deisgn">
  <div class="col col_story" style="padding-left: 0;">
    <img class="img_class" src="../../../assets/images/comingup/Mensa/Chai table/chaitable-inside2.png">
  </div>
  <div class="col">
    <h2>Design</h2>
    <p>Designing for simplicity is arguably a more difficult task than creating
       something more elaborate. This design involved innovative construction
       to maintain simple lines, giving the illusion of being a simple bent panel.
    </p>
  </div>
  <div class="col-sm-1"></div>
</div>
<div class="row similar_products" style="padding-top: 5%;">
    <div class="col-sm-1"></div>
    <div class="col-sm-10"><h2>Similar Products</h2></div>
    <div class="col-sm-1"></div>
  </div>
<div class="row" style="text-align: center; padding-bottom: 5%;">
    <div class="col-sm-1"></div>
    <div class="col">
      <div>
      <img style="height: 141.77px;" class="bratus"  [routerLink]="['/cornula']" title="Cornula" src="../../../assets/images/comingup/Mensa/Cornula/Cornula.png">
              <h4 style="margin-right: 0;" [routerLink]="['/cornula']">Cornula<br><span>learn more <a [routerLink]="['/cornula']"><i class="material-icons">
                  arrow_right_alt
                  </i></a></span></h4>
      </div>            
    </div>
    <div class="col">
      <img style="height: 141.77px;" [routerLink]="['/roundcube']" title="Round Cube" src="../../../assets/images/comingup/Mensa/Round cube/roundcube.png">
            <h4 style="margin-right: 0;" [routerLink]="['/roundcube']">Round Cube<br><span>learn more <a [routerLink]="['/roundcube']"><i class="material-icons">
              arrow_right_alt
              </i></a></span></h4>
    </div>
    <div class="col">
      <img style="height: 141.77px;" [routerLink]="['/scoot']" title="Scoot" src="../../../assets/images/comingup/Mensa/Scoot/Scoot.png">
            <h4 style="margin-right: 0;" [routerLink]="['/scoot']">Scoot<br><span>learn more <a [routerLink]="['/scoot']"><i class="material-icons">
              arrow_right_alt
              </i></a></span></h4>
    </div>
    <div class="col">
      <img style="height: 141.77px;" [routerLink]="['/shad']" title="Shad" src="../../../assets/images/comingup/Mensa/Shad/shad1.png">
            <h4 style="margin-right: 0;" [routerLink]="['/shad']">Shad<br><span>learn more <a [routerLink]="['/shad']"><i class="material-icons">
              arrow_right_alt
              </i></a></span></h4>
    </div>
    <div class="col">
      <img style="height: 141.77px;" [routerLink]="['/stolica']" title="Stolica" src="../../../assets/images/comingup/Mensa/Stolica/stolica.png">
            <h4 style="margin-right: 0;" [routerLink]="['/stolica']">Stolica<br><span>learn more <a [routerLink]="['/stolica']"><i class="material-icons">
              arrow_right_alt
              </i></a></span></h4>
    </div>
    <div class="col">
      <div>
      <img style="height: 141.77px;" class="bratus"  [routerLink]="['/mensa']" title="Mensa" src="../../../assets/images/comingup/Mensa/Mensa/Mensa.png">
              <h4 style="margin-right: 0;" [routerLink]="['/mensa']">Mensa<br><span>learn more <a [routerLink]="['/mensa']"><i class="material-icons">
                  arrow_right_alt
                  </i></a></span></h4>
      </div>            
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>